.footer
  @include full
  background-color: $bg-black
  color: $bg-white
  .__container
    text-align: center
    padding-top: 0
    padding-bottom: 0
    span
      display: block
      @include breakpoint($bp-sm4)
        display: inline
