.section--testimonials
  .__container
    position: relative
    .linkedin-txt
      position: absolute
      right: 10px
      bottom: 50px
      z-index: 1000
      width: 50px
      height: 50px
      text-align: center
      span.fa
        padding: 5px
        +font-size(18)
  .items-block
    +marlr-auto()
    position: relative
    .item
      padding: 5px
      +radius(5px)
      background: $bg-white
  figure
    margin: 5px
    .fa-thumbs-o-up
      display: none
    img
      +radius(4px)
      margin: 0 auto 15px
      @include breakpoint($bp-sm5)
        @include span(2 of 12)
        margin: auto
    figcaption
      @include breakpoint($bp-sm5)
        @include span(10 at 3 of 12)
      blockquote
        margin-left: 10px
        margin-right: 10px
      p
        margin-bottom: 5px
    span.fa
      +font-size(20)
      color: $bg-black
  .slick-dots
    display: none
    @include breakpoint($bp-sm5)
      display: block
      bottom: -50px
    li
      @include breakpoint($bp-sm5)
        margin: 0 20px
        +size(30,30)
      button
        +size(30,30)
        &:before
          +size(8,8)
          background: darken($bg-black, 20%)
          border-radius: 50%
          font-family: inherit
          content: inherit
          top: 11px
          left: 11px
      &:hover
        background-color: lighten($bg-black, 55%)
  .slick-arrow
    position: absolute
    top: calc(50% - 25px)
    cursor: pointer
    z-index: 1
    +font-size(20)
    span.fa
      display: block
      +size(30, 30)
      +radius($radius-lg)
      padding-top: 4px
      text-align: center
      background-color: $bg-lblue2
      color: $bg-white
      opacity: 0.5
      &:hover
        opacity: 1
        background-color: $bg-blue
  .arrow-prev
    left: 0
  .arrow-next
    right: 0
