.container.main-slider-container
  .accordion-slider
    ul
      li
        div
          a(href='#')
            h2 Web & Graphic Design
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      li
        div
          a(href='#')
            h2 Title 2
            p Description 2
      li
        div
          a(href='#')
            h2 Title 3
            p Description 3
      li
        div
          a(href='#')
            h2 Title 4
            p Description 4
      li
        div
          a(href='#')
            h2 Title 5
            p Description 5
      li
        div
          a(href='#')
            h2 Title 6
            p Description 6
