.container.main-slider-container
  .accordion-slider
    ul
      li
        div
          a(href='#')
            h2 Front End Development
      li
        div
          a(href='#')
            h2 Web Design
      li
        div
          a(href='#')
            h2 Web Testing & SEO
      li
        div
          a(href='#')
            h2 Hosting & Maintenance
      li
        div
          a(href='#')
            h2 Graphic Design
      li
        div
          a(href='#')
            h2 Multimedia Production
