.section--main-slider
  .__container
    .accordion-slider
      ul
        li
          a
            h2
              span Front End Development
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        li
          a
            h2
              span UX / UI Development
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        li
          a
            h2
              span Web & Graphic Design
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        li
          a
            h2
              span Web Testing & SEO
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        li
          a
            h2
              span Hosting & Maintenance
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        li
          a
            h2
              span Multimedia Production
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit.
