.section--main-slider
  .__container
    .accordion-slider
      ul
        li
          a
            .title
              span Front End Development
          p Creating cross-browser, cross-device compatible responsive websites with interactivity, animation, etc using HTML5, Pug, CSS3, Sass, jQuery. I use modern web development workflow like Npm, Bower, Gulp, Webpack, Express, Git/GitHub, etc.
        li
          a
            .title
              span UX / UI Development
          p Wireframing, UI development planning, Prototyping, User Experience/User Interface testing, analysis and iteration.
        li
          a
            .title
              span Web & Graphic Design
          p Using Adobe Creative Suite applications like Photoshop, Illustrator and InDesign.
        li
          a
            .title
              span Web Testing & SEO
          p Using Chrome Developer Tools, W3C Checks, UITest, GTMetrix, Pingdom, Webaim Wave, jshint, etc. Google Analytics, Google Webmaster Tools, MOZ, etc.
        li
          a
            .title
              span Hosting & Maintenance
          p Cpanel based Linux hosting / Complete setup through DigitalOcean / IIS. Optimize websites / Fasten/Boosting the website performance. Maintaining DNS, Email Setup, FTP accounts, etc.
        li
          a
            .title
              span Multimedia Production
          p Video editing & Multimedia presentations, web media using Adobe Premiere, etc.
