.bio-info.clearfix
  img.img-responsive(src='../app/images/ShanthoshK_profile3_400x400-min.jpg', alt='Shanthosh Krishnakumar')
  .bio-details
    .container-fluid
      .row
        .col-md-6.col-sm-6.col-xs-6.col-mob.col-pad
          .bio-item
            h4 Name
            h5 Shanthosh Krishnakumar
        .col-md-6.col-sm-6.col-xs-6.col-mob.col-pad
          .bio-item
            h4 Current Location
            h5 Auckland
        .col-md-6.col-sm-6.col-xs-6.col-mob.col-pad
          .bio-item
            h4 Experience
            h5 9 years in New Zealand
        .col-md-6.col-sm-6.col-xs-6.col-mob.col-pad
          .bio-item
            h4 VISA Type
            h5 NZ Citizen
  .bio-social
    a.ui-tooltip(data-toggle='tooltip', data-placement='top', data-original-title='Email')
      i.fa.fa-envelope.email
    a.ui-tooltip(data-toggle='tooltip', data-placement='top', data-original-title='LinkedIn')
      i.fa.fa-linkedin.linkedin
    a.ui-tooltip(data-toggle='tooltip', data-placement='top', data-original-title='Behance')
      i.fa.fa-behance.behance
    a.ui-tooltip(data-toggle='tooltip', data-placement='top', data-original-title='Facebook')
      i.fa.fa-facebook.facebook
    a.ui-tooltip(data-toggle='tooltip', data-placement='top', data-original-title='Pinterest')
      i.fa.fa-pinterest.pinterest
