.bio-info.clearfix
  img.img-responsive(src='/app/images/ShanthoshK_profile3_400x400-min.jpg', alt='Shanthosh Krishnakumar')
  .bio-details
    .container-fluid
      .row
        .col-md-6.col-sm-6.col-xs-12.col-mob.col-pad
          .bio-item
            h4 Name
            h5 Shanthosh Krishnakumar
        .col-md-6.col-sm-6.col-xs-12.col-mob.col-pad
          .bio-item
            h4 Current Location
            h5 Auckland
        .col-md-6.col-sm-6.col-xs-12.col-mob.col-pad
          .bio-item
            h4 Experience
            h5 9 years in New Zealand
        .col-md-6.col-sm-6.col-xs-12.col-mob.col-pad
          .bio-item
            h4 VISA Type
            h5 NZ Citizen
      .row
        .col-md-12.txt-col
          p As a Web Designer or Front End Web Developer I have experience managing all stages of the web development life cycle including website concepts, wire-framing, design, development, testing, deployment and after-support.
          p As a Graphic Designer I would love to design clean, smart and effective visuals using Adobe Photoshop, Illustrator and InDesign. Most of my projects focus on effective colour and layout utilization.
  .bio-social
    a.ui-tooltip(href='mailto:kkshanthosh@gmail.com', target='_blank', data-toggle='tooltip', data-placement='top', data-original-title='Email')
      i.fa.fa-envelope.email
    a.ui-tooltip(href='https://www.linkedin.com/in/shanthoshk', target='_blank', data-toggle='tooltip', data-placement='top', data-original-title='LinkedIn')
      i.fa.fa-linkedin.linkedin
    a.ui-tooltip(href='https://www.behance.net/shanthoshk', target='_blank', data-toggle='tooltip', data-placement='top', data-original-title='Behance')
      i.fa.fa-behance.behance
    a.ui-tooltip(href='https://github.com/nzkks/', target='_blank', data-toggle='tooltip', data-placement='top', data-original-title='Github')
      i.fa.fa-github.github
    a.ui-tooltip(href='https://www.facebook.com/shanthoshk.page', target='_blank', data-toggle='tooltip', data-placement='top', data-original-title='Facebook')
      i.fa.fa-facebook.facebook
    a.ui-tooltip(href='https://nz.pinterest.com/kkshanthosh/', target='_blank', data-toggle='tooltip', data-placement='top', data-original-title='Pinterest')
      i.fa.fa-pinterest.pinterest
