.contact-panel.fixed-panel
  a.panel-close(href='#', title='Close this panel')
    i.fa.fa-times-circle(aria-hidden='true')
  .__container
    .contact-form
      h3 Contact Form
      form#gform(method='POST', action='https://script.google.com/macros/s/AKfycbydWVCci72icBF_TzQKYRtH1unY0fpI1f2PqtZrrM1djM6JZ0c/exec')
        input(name='name', type='name', placeholder='Your Full Name' required)
        input(name='email', type='email', placeholder='Your Email Address' required)
        input(name='phone', type='phone', placeholder='Your Phone Number')
        textarea(name='message', rows='5', placeholder='Your Message' required)
        .button-group
          button.btn(type='submit') Send
          button.btn(type='reset') Reset

      #thankyou_message(style='display: none')
        p
          em Thanks
          |  for contacting me! I will get back to you soon!

    hr.hr-style1

    .contact-details
      h3 Contact Details
      p
        a(href='mailto:kkshanthosh@gmail.com')
          i.fa.fa-envelope(aria-hidden='true')
          span(itemprop='email')
          |  kkshanthosh@gmail.com
      p
        a(href='tel:+642102495970')
          i.fa.fa-phone(aria-hidden='true')
          span(itemprop='telephone')
          |  +64 21 024 95 970
      p
        a(href='http://www.drmsweb.com')
          i.fa.fa-globe(aria-hidden='true')
          span(itemprop='url')
          |  www.drmsweb.com
      .social-container
        // BEGIN: Social Sub-Section in contact
        include _social-icons.pug
        // END: Social Sub-Section in contact
