.contact-panel.bg-blue
  a.contact-panel-close(href='#')
    | X
  .container
    .contact-form
      h3 Contact Form
      form
        input(type='name', placeholder='Enter Name')
        input(type='email', placeholder='Enter Email')
        textarea(rows='5', placeholder='Enter Message')
        .button-group
          button.btn(type='submit') Submit
          button.btn(type='reset') Reset
    .contact-details
      h3 Contact Details
      h4
        a(href='mailto:kkshanthosh@gmail.com')
          i.fa.fa-envelope
          |    kkshanthosh@gmail.com
      h4
        a(href='#')
          i.fa.fa-phone
          |    +64 21 024 95 970
      h4
        a(href='http://drmsweb.com')
          i.fa.fa-globe
          |    www.drmsweb.com
      .social-container
        // BEGIN: Social Sub-Section in contact
        include _social-icons.pug
        // END: Social Sub-Section in contact
