.cta-style.cta-bottom
  .container
    .col1
      h3 Check my Curriculum Vitae document / Contact me now
    .col2
      a.btn.btn-lg.contact-btn
        i.fa.fa-hand-o-up
        |  Contact Now
    .col3
      button.btn.btn-lg.download-btn
        i.fa.fa-download
        |  Download my CV
      .download-files-container
        .col4
          a.download-item(href='ShanthoshK_CV2016.doc')
            i.fa.fa-file-word-o
            span.bg-red doc
        .col5
          a.download-item(href='ShanthoshK_CV2016.pdf')
            i.fa.fa-file-pdf-o
            span.bg-lblue pdf
