.section--cta-style.cta-top
  .__container
    .col1
      h3 View my works in portfolio section
    .col2
      a.btn(href='#webGallery')
        i.fa.fa-hand-o-down(aria-hidden='true')
        |  Web Development
    .col3
      a.btn(href='#printGallery')
        i.fa.fa-hand-o-down(aria-hidden='true')
        |  Graphic Design
