.cta-style.cta-top
  .container
    .cta-style__content
      .row
        .col-md-9
          h3 View my works in portfolio section
        .col-md-3
          a.btn.btn-lg(href='#portfolio')
            i.fa.fa-hand-o-down
            |  Check Now
