.section--cta-style.cta-bottom
  .__container
    .col1
      h3 Check my Curriculum Vitae document / Contact me now
    .col2
      a.btn.contact-btn
        i.fa.fa-hand-o-up(aria-hidden='true')
        |  Contact Now
    .col3
      button.btn.download-btn
        i.fa.fa-download(aria-hidden='true')
        |  Download my CV
      .download-files-container
        .col4
          a.download-item(href='ShanthoshK_CV2016.doc')
            i.fa.fa-file-word-o(aria-hidden='true')
            span doc
        .col5
          a.download-item(href='ShanthoshK_CV2016.pdf')
            i.fa.fa-file-pdf-o(aria-hidden='true')
            span pdf
