.cta-style.cta-top
  .container
    .col1
      h3 View my works in portfolio section
    .col2
      a.btn.btn-lg(href='#webGallery')
        i.fa.fa-hand-o-down(aria-hidden='true')
        |  Web Development
    .col3
      a.btn.btn-lg(href='#printGallery')
        i.fa.fa-hand-o-down(aria-hidden='true')
        |  Graphic Design
