.cta-top
  .container
    .cta-top__content
      .row
        .col-md-9
          h3 View more of my works in portfolio section
        .col-md-3
          a.btn.btn-lg
            i.fa.fa-hand-o-down
            |  Check Now
