.footer-tech-panel.fixed-panel
  a.panel-close(href='#', title='Close this panel')
    i.fa.fa-times-circle(aria-hidden='true')
  .__container
    p I have used following web technologies to create this website.
    .tech-box.gallery
      .item HTML5
      .item CSS3
      .item JQuery
      .item Sass
      .item Susy Grid
      .item Pug
      .item Breakpoint-Sass
      .item Fancybox
      .item Modernizer
      .item Font-Awesome
      .item Node Js
      .item Bower
      .item Gulp
      .item Webpack
      .item Github
      .item Bitbucket
