script(type='text/javascript').
  (function() {
    var css = document.createElement('link');
    css.href = 'https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css';
    css.rel = 'stylesheet';
    css.type = 'text/css';
    document.getElementsByTagName('head')[0].appendChild(css);
  })();
script(type='text/javascript', src='<%= builder.getBundleUrl() %>/vendor.bundle.js')
script(type='text/javascript', src='<%= builder.getBundleUrl() %>/app.bundle.js')
