.__container
  .logo-block
    a.top-txt-logo(href='/', aria-label='Click to go Shanthosh portfolio website homepage')
      span.short-txt(aria-hidden='true') SK
      span.full-txt(aria-hidden='true') Shanthosh Krishnakumar
  .nav-block
    ul
      li.has-sub-menu
        a
          span.fa.fa-briefcase(aria-hidden='true', title='View Portfolio')
          span.menu-name Portfolio
          span.fa.fa-caret-down(aria-hidden='true')
        ul
          li
            a.web-gallery-btn(href='#webGallery', aria-label='View Web Design/Development portfolio') Web Design / Development
          li
            a.print-gallery-btn(href='#printGallery', aria-label='View Graphic Design portfolio') Graphic Design
      li
        a.about-page-link(href='#about', aria-label='About')
          span.fa.fa-user(aria-hidden='true', title='Read about Shanthosh')
          span.menu-name About
      li
        a.contact-btn(href='#', aria-label='Contact')
          span.fa.fa-phone(aria-hidden='true', title='Contact Shanthosh')
          span.menu-name Contact
