mixin top-menu(main_sel)
  .container
    a.top-txt-logo(href='/')
      span.short-txt SK
      span.full-txt Shanthosh Krishnakumar
    .nav-block
      ul
        li.has-sub-menu
          a
            i.fa.fa-briefcase
            span Portfolio
            i.fa.fa-caret-down
          ul
            li
              a(href='#webGallery') Web Design / Development
            li
              a(href='#printGallery') Graphic Design
        li
          a(href='#about')
            i.fa.fa-user
            span About
        li
          a.main-contact-btn(href='#')
            i.fa.fa-phone
            span Contact
