mixin top-menu(main_sel)
  nav.navbar.navbar-fixed-top.main-navbar(role='navigation')
    .container
      .navbar-header
        button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#main-top-menu', aria-expanded='false')
          span.sr-only Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.navbar-brand(href='/')
          svg#mainTopLogo(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', xml:space='preserve')
            style(type='text/css').
              <![CDATA[
              .st0{fill:#E74C3C;}
              .st1{fill:#91BFD8;}
              .st2{fill:#2C3E50;}
              .st3{fill:#FFFFFF;}
              ]]>
            rect.st3
            path.st1(d='M124.83,52.67V7.31h7.841v11.882h0.122c0.603-1.225,1.357-2.141,2.262-2.743\
            c0.905-0.604,1.979-0.905,3.228-0.905c1.708,0,2.99,0.508,3.845,1.523c0.854,1.016,1.282,2.529,1.282,4.538v25.063\
            c0,1.99-0.422,3.489-1.267,4.493c-0.844,1.005-2.132,1.509-3.86,1.509c-1.327,0-2.463-0.332-3.408-0.996\
            c-0.946-0.663-1.68-1.647-2.203-2.955h-0.121v3.951H124.83z M135.507,44.014V24.2c0-0.824-0.106-1.382-0.316-1.675\
            c-0.211-0.291-0.579-0.438-1.101-0.438c-0.483,0-0.84,0.172-1.071,0.514c-0.231,0.343-0.347,0.874-0.347,1.599v19.814\
            c0,0.725,0.116,1.267,0.347,1.629c0.231,0.361,0.588,0.543,1.071,0.543c0.522,0,0.89-0.155,1.101-0.468\
            C135.401,45.407,135.507,44.839,135.507,44.014z')
            path.st1(d='M111.679,44.618c0,0.783,0.111,1.342,0.332,1.673c0.222,0.333,0.584,0.499,1.087,0.499\
            c0.502,0,0.864-0.166,1.086-0.499c0.221-0.331,0.332-0.89,0.332-1.673v-6.665h7.841v6.604c0,2.574-0.809,4.569-2.428,5.986\
            c-1.619,1.417-3.896,2.127-6.832,2.127c-3.318,0-5.691-0.765-7.119-2.293c-1.428-1.527-2.142-4.142-2.142-7.841v-17.04\
            c0-3.74,0.704-6.364,2.112-7.872c1.407-1.508,3.77-2.262,7.087-2.262c2.915,0,5.198,0.679,6.847,2.035\
            c1.649,1.358,2.474,3.232,2.474,5.626v12.093h-10.678V44.618z M111.679,23.083v6.726h2.837v-6.726c0-0.784-0.111-1.342-0.332-1.673\
            c-0.222-0.333-0.583-0.499-1.086-0.499c-0.503,0-0.865,0.166-1.087,0.499C111.791,21.742,111.679,22.299,111.679,23.083z')
            path.st1(d='M70.42,52.668L65.986,7.31h8.928l1.056,17.313c0.101,1.519,0.186,3.183,0.256,4.997\
            c0.07,1.814,0.156,4.433,0.256,7.857h0.302c0.14-2.03,0.286-3.932,0.436-5.704c0.151-1.773,0.298-3.266,0.438-4.476L79.98,7.31h9.41\
            l1.84,21.403c0.02,0.349,0.11,1.522,0.272,3.521c0.161,1.999,0.301,3.747,0.421,5.243h0.303c0.08-2.501,0.175-4.817,0.286-6.95\
            c0.111-2.133,0.236-4.192,0.377-6.183L94.277,7.31h7.45l-4.795,45.358H86.677l-2.233-24.324c-0.08-0.86-0.156-1.86-0.226-2.998\
            c-0.071-1.139-0.136-2.609-0.196-4.413H83.69l-3.136,31.735H70.42z')
            path.st0(d='M41.061,45.825l9.598-0.014c0.073,0.553,0.419,0.98,1.037,1.279c0.617,0.3,1.461,0.449,2.53,0.449\
            c1.07,0,1.87-0.122,2.4-0.366c0.53-0.244,0.795-0.61,0.795-1.1c0-0.434-0.231-0.781-0.692-1.044s-1.17-0.454-2.13-0.574\
            l-5.919-0.732c-2.453-0.295-4.299-0.954-5.539-1.978c-1.24-1.023-1.86-2.393-1.86-4.107c0-2.286,0.938-3.955,2.814-5.006\
            c1.876-1.051,4.865-1.577,8.969-1.577c4.259,0,7.426,0.526,9.501,1.577c2.074,1.051,3.194,2.688,3.36,4.909h-9.21\
            c-0.102-0.646-0.489-1.132-1.162-1.459c-0.673-0.327-1.618-0.491-2.835-0.491c-0.885,0-1.581,0.123-2.088,0.366\
            c-0.507,0.245-0.761,0.574-0.761,0.989c0,0.387,0.196,0.683,0.588,0.885c0.392,0.203,1.206,0.393,2.441,0.567l7.219,1.022\
            c2.259,0.324,3.946,0.98,5.062,1.972c1.116,0.991,1.674,2.325,1.674,4.003c0,2.509-1.116,4.348-3.347,5.519\
            c-2.231,1.17-5.749,1.756-10.552,1.756c-3.817,0-6.747-0.59-8.789-1.771C42.123,49.72,41.088,48.029,41.061,45.825z')
            polygon.st2(points='7.33,52.653 7.33,31.595 19.085,31.595 22.543,44.054 26.276,31.595 37.866,31.595 37.866,52.653 \
            30.522,52.653 30.522,36.076 25.654,52.653 19.472,52.653 14.659,36.076 14.659,52.653 ')
            path.st2(d='M52.387,7.338c1.779,0,3.204,0.085,4.273,0.256c1.069,0.171,1.903,0.436,2.503,0.795\
            c0.765,0.452,1.348,1.058,1.749,1.818c0.401,0.761,0.602,1.639,0.602,2.634c0,1.208-0.3,2.271-0.899,3.188\
            c-0.6,0.917-1.425,1.578-2.476,1.984c0.903,0.378,1.537,0.846,1.901,1.403s0.579,1.542,0.643,2.952\
            c0.009,0.157,0.019,0.374,0.027,0.65c0.129,2.674,0.489,4.157,1.079,4.453v0.317h-8.81c-0.267-0.433-0.415-1.272-0.442-2.517\
            c-0.019-0.728-0.051-1.291-0.097-1.688c-0.083-0.746-0.334-1.272-0.754-1.576s-1.123-0.457-2.109-0.457h-4.73v6.237h-8.035V7.338\
            H52.387z M44.85,16.174h4.619c1.208,0,2.059-0.143,2.552-0.428s0.74-0.765,0.74-1.438c0-0.664-0.233-1.127-0.698-1.39\
            c-0.466-0.263-1.395-0.394-2.787-0.394H44.85V16.174z')
            path.st2(d='M7.33,7.31h13.11c4.242,0,7.473,0.874,9.695,2.621c2.222,1.748,3.333,4.294,3.333,7.641\
            c0,3.338-1.107,5.875-3.319,7.612c-2.213,1.737-5.449,2.606-9.709,2.606H7.33V7.31z M15.254,12.385v9.971h3.941\
            c2.056,0,3.529-0.389,4.418-1.168s1.334-2.054,1.334-3.824c0-1.761-0.45-3.03-1.349-3.81c-0.898-0.779-2.367-1.169-4.404-1.169\
            H15.254z')


      #main-top-menu.collapse.navbar-collapse
        ul.nav.navbar-nav.navbar-right
          li.item(class=main_sel === 'portfolio' ? 'active' : '')
            a(href='#portfolio') Portfolio
          li.item(class=main_sel === 'about' ? 'active' : '')
            a(href='#top') About
          li.item(class=main_sel === 'contact' ? 'active' : '')
            a.main-contact-btn(href='#') Contact
