.container
  .portfolio
    .row
      .col-lg-3.col-md-4.col-sm-6.col-xs-12.mbot-lg
        a.fancybox(rel='gallery1', href='/app/images/lorem1.jpg', title='Twilight Memories (doraartem)')
          img.img-responsive(src='/app/images/lorem1.jpg', alt='')
      .col-lg-3.col-md-4.col-sm-6.col-xs-12.mbot-lg
        a.fancybox(rel='gallery1', href='/app/images/lorem2.jpg', title='Electrical Power Lines and Pylons disappear over t.. (pautliubomir)')
          img.img-responsive(src='/app/images/lorem2.jpg', alt='')
      .col-lg-3.col-md-4.col-sm-6.col-xs-12.mbot-lg
        a.fancybox(rel='gallery1', href='/app/images/lorem3.jpg', title='Morning Godafoss (Brads5)')
          img.img-responsive(src='/app/images/lorem3.jpg', alt='')
      .col-lg-3.col-md-4.col-sm-6.col-xs-12.mbot-lg
        a.fancybox(rel='gallery1', href='/app/images/lorem4.jpg', title='Vertical - Special Edition! (cedarsphoto)')
          img.img-responsive(src='/app/images/lorem4.jpg', alt='')
