.container
  .portfolio
    h3#webGallery Web Design / Development
    // BEGIN: Websites Portfolio Sub-Section
    include _portfolio-web.pug
    // END: Websites Portfolio Sub-Section
    h3#printGallery Graphic Design
    // BEGIN: Print Portfolio Sub-Section
    include _portfolio-print.pug
    // END: Print Portfolio Sub-Section
