.container
  #portfolio.portfolio
    a.fancybox(rel='gallery1', href='/app/images/lorem1.jpg', title='Twilight Memories (doraartem)')
      img(src='/app/images/lorem1.jpg', alt='')
    a.fancybox(rel='gallery1', href='/app/images/lorem2.jpg', title='Electrical Power Lines and Pylons disappear over t.. (pautliubomir)')
      img(src='/app/images/lorem2.jpg', alt='')
    a.fancybox(rel='gallery1', href='/app/images/lorem3.jpg', title='Morning Godafoss (Brads5)')
      img(src='/app/images/lorem3.jpg', alt='')
    a.fancybox(rel='gallery1', href='/app/images/lorem4.jpg', title='Vertical - Special Edition! (cedarsphoto)')
      img(src='/app/images/lorem4.jpg', alt='')
