h3
  a(href='#')
    | Testing, Hosting & Support
ul.skills-accordion
  li
    a(href='#')
      h4 Web Testing Tools
    .skill-category-content
      .skill-progress.clearfix
        p Chrome Dev Tools, jshint, W3C, Webaim Wave, UITest.com, GTMetrix, Pingdom

  li
    a(href='#')
      h4 Web Analysis Tools
    .skill-category-content
      .skill-progress.clearfix
        p Google Analytics, AdWords, Webmaster Tools, MOZ

  li
    a(href='#')
      h4 Platforms & Version Control
    .skill-category-content
      .skill-progress.clearfix
        p Windows, Mac, Ubuntu, Git
