.skills
  .container
    .skills-item.item1
      .skills-heading
        h2
          span Design
      .skills-content
        // BEGIN: Skills - Design Sub-Section
        include _skills-design.pug
        // END: Skills - Design Sub-Section

    .skills-item.item2
      .skills-heading
        h2
          span Develop
      .skills-content
        // BEGIN: Skills - Develop Sub-Section
        include _skills-develop.pug
        // END: Skills - Develop Sub-Section

    .skills-item.item3
      .skills-heading
        h2
          span Support
      .skills-content
        // BEGIN: Skills - Support Sub-Section
        include _skills-support.pug
        // END: Skills - Support Sub-Section
