h3
  a(href='#')
    | Front End & Web Development
#developAccordion.panel-group(role='tablist', aria-multiselectable='true')
  .panel.panel-default
    #developHeading1.panel-heading.skill-category-item(role='tab')
      h4.panel-title
        a(role='button', data-toggle='collapse', data-parent='#developAccordion', href='#developCollapse1', aria-expanded='true', aria-controls='developCollapse1')
          | Web Languages
    #developCollapse1.panel-collapse.collapse.in(role='tabpanel', aria-labelledby='developHeading1')
      .panel-body
        .skill-progress.clearfix
          p HTML5
            span 99%
          .progress
            .progress-bar.bg-green(style='width: 99%;')
        .skill-progress.clearfix
          p CSS3
            span 99%
          .progress
            .progress-bar.bg-lblue(style='width: 99%;')
        .skill-progress.clearfix
          p SASS / SCSS
            span 99%
          .progress
            .progress-bar.bg-blue(style='width: 99%;')
        .skill-progress.clearfix
          p JavaScript
            span 95%
          .progress
            .progress-bar.bg-orange(style='width: 95%;')
        .skill-progress.clearfix
          p Jade
            span 99%
          .progress
            .progress-bar.bg-yellow(style='width: 99%;')

  .panel.panel-default
    #developHeading2.panel-heading.skill-category-item(role='tab')
      h4.panel-title
        a(role='button', data-toggle='collapse', data-parent='#developAccordion', href='#developCollapse2', aria-expanded='true', aria-controls='developCollapse2')
          | JavaScript Tools
    #developCollapse2.panel-collapse.collapse(role='tabpanel', aria-labelledby='developHeading2')
      .panel-body
        .skill-progress.clearfix
          p Angular.js
            span 70%
          .progress
            .progress-bar.bg-red(style='width: 70%;')
        .skill-progress.clearfix
          p JQuery
            span 90%
          .progress
            .progress-bar.bg-green(style='width: 90%;')
        .skill-progress.clearfix
          p Node.js
            span 70%
          .progress
            .progress-bar.bg-lblue(style='width: 70%;')
        .skill-progress.clearfix
          p Gulp.js
            span 90%
          .progress
            .progress-bar.bg-orange(style='width: 90%;')
        .skill-progress.clearfix
          p Bower.js / NPM
            span 90%
          .progress
            .progress-bar.bg-yellow(style='width: 90%;')
        .skill-progress.clearfix
          p Express.js
            span 60%
          .progress
            .progress-bar.bg-purple(style='width: 60%;')
        .skill-progress.clearfix
          p GSAP
            span 70%
          .progress
            .progress-bar.bg-brown(style='width: 70%;')

  .panel.panel-default
    #developHeading3.panel-heading.skill-category-item(role='tab')
      h4.panel-title
        a(role='button', data-toggle='collapse', data-parent='#developAccordion', href='#developCollapse3', aria-expanded='true', aria-controls='developCollapse3')
          | Front End Frameworks
    #developCollapse3.panel-collapse.collapse(role='tabpanel', aria-labelledby='developHeading3')
      .panel-body
        .skill-progress.clearfix
          p Bootstrap
            span 90%
          .progress
            .progress-bar.bg-red(style='width: 90%;')
        .skill-progress.clearfix
          p Zurb Foundation
            span 90%
          .progress
            .progress-bar.bg-green(style='width: 90%;')
        .skill-progress.clearfix
          p Bourbon / Neat / Refills
            span 90%
          .progress
            .progress-bar.bg-lblue(style='width: 90%;')
        .skill-progress.clearfix
          p Jekyll
            span 90%
          .progress
            .progress-bar.bg-orange(style='width: 90%;')


  .panel.panel-default
    #developHeading4.panel-heading.skill-category-item(role='tab')
      h4.panel-title
        a(role='button', data-toggle='collapse', data-parent='#developAccordion', href='#developCollapse4', aria-expanded='true', aria-controls='developCollapse4')
          | Databases & Data Languages
    #developCollapse4.panel-collapse.collapse(role='tabpanel', aria-labelledby='developHeading4')
      .panel-body
        .skill-progress.clearfix
          p MS SQL Server
            span 80%
          .progress
            .progress-bar.bg-red(style='width: 80%;')
        .skill-progress.clearfix
          p MySQL
            span 80%
          .progress
            .progress-bar.bg-green(style='width: 80%;')
        .skill-progress.clearfix
          p MongoDB
            span 80%
          .progress
            .progress-bar.bg-lblue(style='width: 80%;')
        .skill-progress.clearfix
          p SQL
            span 80%
          .progress
            .progress-bar.bg-orange(style='width: 80%;')
        .skill-progress.clearfix
          p XML
            span 98%
          .progress
            .progress-bar.bg-yellow(style='width: 98%;')
        .skill-progress.clearfix
          p JSON
            span 99%
          .progress
            .progress-bar.bg-purple(style='width: 99%;')


  .panel.panel-default
    #developHeading5.panel-heading.skill-category-item(role='tab')
      h4.panel-title
        a(role='button', data-toggle='collapse', data-parent='#developAccordion', href='#developCollapse5', aria-expanded='true', aria-controls='developCollapse5')
          | Content Management System
    #developCollapse5.panel-collapse.collapse(role='tabpanel', aria-labelledby='developHeading5')
      .panel-body
        .skill-progress.clearfix
          p WordPress
            span 98%
          .progress
            .progress-bar.bg-red(style='width: 98%;')
        .skill-progress.clearfix
          p Joomla
            span 98%
          .progress
            .progress-bar.bg-green(style='width: 98%;')
