.container
  .skills
    .row
      .col-md-4.col-sm-12.col-xs-12
        .skills-item.bg-blue
          .skills-heading
            h3
              a(href='#')
                span Design
          .skills-content.clearfix
            h2
              a(href='#')
                | Web & Graphic Design
            .skill-category-item
              h4 Design Tools
              .skill-progress.clearfix
                h4 Adobe Photoshop
                  span 100%
                .progress
                  .progress-bar.bg-red(style='width: 100%;')

            .skill-category-item
              h4 Multimedia Tools
              .skill-progress.clearfix
                h4 Adobe Premiere
                  span 80%
                .progress
                  .progress-bar.bg-green(style='width: 80%;')

      .col-md-4.col-sm-12.col-xs-12
        .skills-item.bg-red
          .skills-heading
            h3
              a(href='#')
                span Develop
          .skills-content.clearfix
            h2
              a(href='#')
                | Front End Development
            .skill-category-item
              h4 Web Languages
              .skill-progress.clearfix
                h4 HTML5
                  span 99%
                .progress
                  .progress-bar.bg-green(style='width: 99%;')

            .skill-category-item
              h4 JavaScript Tools
              .skill-progress.clearfix
                h4 Angular.js
                  span 70%
                .progress
                  .progress-bar.bg-blue(style='width: 70%;')

      .col-md-4.col-sm-12.col-xs-12
        .skills-item.bg-green
          .skills-heading
            h3
              a(href='#')
                span Hosting & Support
          .skills-content.clearfix
            h2
              a(href='#')
                | Hosting & Support
            .skill-category-item
              h4 Design Tools
              .skill-progress.clearfix
                h4 Adobe Photoshop
                  span 100%
                .progress
                  .progress-bar.bg-blue(style='width: 100%;')

            .skill-category-item
              h4 Multimedia Tools
              .skill-progress.clearfix
                h4 Adobe Premiere
                  span 80%
                .progress
                  .progress-bar.bg-red(style='width: 80%;')
