h3
  a(href='#')
    | Front End & Web Development
ul.skills-accordion
  li
    a(href='#')
      h4 Web Languages
    .skill-category-content
      .skill-progress.clearfix
        p HTML5
          span 99%
        .progress
          .progress-bar.bg-green(style='width: 99%;')
      .skill-progress.clearfix
        p CSS3
          span 99%
        .progress
          .progress-bar.bg-lblue(style='width: 99%;')
      .skill-progress.clearfix
        p SASS / SCSS
          span 99%
        .progress
          .progress-bar.bg-blue(style='width: 99%;')
      .skill-progress.clearfix
        p JavaScript
          span 95%
        .progress
          .progress-bar.bg-orange(style='width: 95%;')
      .skill-progress.clearfix
        p Jade
          span 99%
        .progress
          .progress-bar.bg-yellow(style='width: 99%;')

  li
    a(href='#')
      h4 JavaScript Tools
    .skill-category-content
      .skill-progress.clearfix
        p Angular.js
          span 70%
        .progress
          .progress-bar.bg-red(style='width: 70%;')
      .skill-progress.clearfix
        p JQuery
          span 90%
        .progress
          .progress-bar.bg-green(style='width: 90%;')
      .skill-progress.clearfix
        p Node.js
          span 70%
        .progress
          .progress-bar.bg-lblue(style='width: 70%;')
      .skill-progress.clearfix
        p Gulp.js
          span 90%
        .progress
          .progress-bar.bg-orange(style='width: 90%;')
      .skill-progress.clearfix
        p Bower.js / NPM
          span 90%
        .progress
          .progress-bar.bg-yellow(style='width: 90%;')
      .skill-progress.clearfix
        p Express.js
          span 60%
        .progress
          .progress-bar.bg-purple(style='width: 60%;')
      .skill-progress.clearfix
        p GSAP
          span 70%
        .progress
          .progress-bar.bg-brown(style='width: 70%;')

  li
    a(href='#')
      h4 Front End Frameworks
    .skill-category-content
      .skill-progress.clearfix
        p Bootstrap
          span 90%
        .progress
          .progress-bar.bg-red(style='width: 90%;')
      .skill-progress.clearfix
        p Zurb Foundation
          span 90%
        .progress
          .progress-bar.bg-green(style='width: 90%;')
      .skill-progress.clearfix
        p Bourbon / Neat / Refills
          span 90%
        .progress
          .progress-bar.bg-lblue(style='width: 90%;')
      .skill-progress.clearfix
        p Jekyll
          span 90%
        .progress
          .progress-bar.bg-orange(style='width: 90%;')

  li
    a(href='#')
      h4 Databases & Data Languages
    .skill-category-content
      .skill-progress.clearfix
        p MS SQL Server
          span 80%
        .progress
          .progress-bar.bg-red(style='width: 80%;')
      .skill-progress.clearfix
        p MySQL
          span 80%
        .progress
          .progress-bar.bg-green(style='width: 80%;')
      .skill-progress.clearfix
        p MongoDB
          span 80%
        .progress
          .progress-bar.bg-lblue(style='width: 80%;')
      .skill-progress.clearfix
        p SQL
          span 80%
        .progress
          .progress-bar.bg-orange(style='width: 80%;')
      .skill-progress.clearfix
        p XML
          span 98%
        .progress
          .progress-bar.bg-yellow(style='width: 98%;')
      .skill-progress.clearfix
        p JSON
          span 99%
        .progress
          .progress-bar.bg-purple(style='width: 99%;')

  li
    a(href='#')
      h4 Content Management System
    .skill-category-content
      .skill-progress.clearfix
        p WordPress
          span 98%
        .progress
          .progress-bar.bg-red(style='width: 98%;')
      .skill-progress.clearfix
        p Joomla
          span 98%
        .progress
          .progress-bar.bg-green(style='width: 98%;')
