.container
  .skills
    .row
      .col-md-4.col-sm-12.col-xs-12
        .skills-item.bg-blue
          .skills-heading
            h2
              a(href='#')
                span Design
          .skills-content.clearfix
            // BEGIN: Skills - Design Sub-Section
            include _skills-design.pug
            // END: Skills - Design Sub-Section

      .col-md-4.col-sm-12.col-xs-12
        .skills-item.bg-red
          .skills-heading
            h2
              a(href='#')
                span Develop
          .skills-content.clearfix
            // BEGIN: Skills - Develop Sub-Section
            include _skills-develop.pug
            // END: Skills - Develop Sub-Section

      .col-md-4.col-sm-12.col-xs-12
        .skills-item.bg-green
          .skills-heading
            h2
              a(href='#')
                span Support
          .skills-content.clearfix
            // BEGIN: Skills - Support Sub-Section
            include _skills-support.pug
            // END: Skills - Support Sub-Section
