h3
  a(href='#')
    | Web & Graphic Design
ul.skills-accordion
  li
    a(href='#')
      h4 Design Tools
    .skill-category-content
      .skill-progress.clearfix
        p Adobe Photoshop
          span 100%
        .progress
          .progress-bar(style='width: 100%;')
      .skill-progress.clearfix
        p Adobe Illustrator
          span 95%
        .progress
          .progress-bar(style='width: 95%;')
      .skill-progress.clearfix
        p Adobe InDesign
          span 90%
        .progress
          .progress-bar(style='width: 90%;')
  li
    a(href='#')
      h4 Multimedia Tools
    .skill-category-content
      .skill-progress.clearfix
        p Adobe Premiere
          span 80%
        .progress
          .progress-bar(style='width: 80%;')
      .skill-progress.clearfix
        p Adobe Audition
          span 75%
        .progress
          .progress-bar(style='width: 75%;')
