.social-icons
  a.ui-tooltip.email-link(href='mailto:kkshanthosh@gmail.com', target='_blank' title='Email' aria-label='Email Shanthosh')
    i.fa.fa-envelope.email(aria-hidden='true')
  a.ui-tooltip(href='https://www.linkedin.com/in/shanthoshk', target='_blank' title='LinkedIn' aria-label='Check Shanthosh LinkedIn webpage')
    i.fa.fa-linkedin.linkedin(aria-hidden='true')
  a.ui-tooltip(href='https://www.behance.net/shanthoshk', target='_blank' title='Behance' aria-label='Check Shanthosh portfolio in Behance webpage')
    i.fa.fa-behance.behance(aria-hidden='true')
  a.ui-tooltip(href='https://github.com/nzkks/', target='_blank' title='Github' aria-label='Check Shanthosh Github page to see his projects including this website')
    i.fa.fa-github.github(aria-hidden='true')
  a.ui-tooltip(href='https://www.facebook.com/shanthoshk.page', target='_blank' title='Facebook' aria-label='Check Shanthosh portfolio in Facebook page')
    i.fa.fa-facebook.facebook(aria-hidden='true')
  a.ui-tooltip(href='https://nz.pinterest.com/kkshanthosh/', target='_blank' title='Pinterest' aria-label='Check Shanthosh portfolio in Pinterest webpage')
    i.fa.fa-pinterest.pinterest(aria-hidden='true')
