.social-icons
  a.ui-tooltip.email-link(href='mailto:kkshanthosh@gmail.com', target='_blank', data-toggle='tooltip', data-placement='top', data-original-title='Email')
    i.fa.fa-envelope.email
  a.ui-tooltip(href='https://www.linkedin.com/in/shanthoshk', target='_blank', data-toggle='tooltip', data-placement='top', data-original-title='LinkedIn')
    i.fa.fa-linkedin.linkedin
  a.ui-tooltip(href='https://www.behance.net/shanthoshk', target='_blank', data-toggle='tooltip', data-placement='top', data-original-title='Behance')
    i.fa.fa-behance.behance
  a.ui-tooltip(href='https://github.com/nzkks/', target='_blank', data-toggle='tooltip', data-placement='top', data-original-title='Github')
    i.fa.fa-github.github
  a.ui-tooltip(href='https://www.facebook.com/shanthoshk.page', target='_blank', data-toggle='tooltip', data-placement='top', data-original-title='Facebook')
    i.fa.fa-facebook.facebook
  a.ui-tooltip(href='https://nz.pinterest.com/kkshanthosh/', target='_blank', data-toggle='tooltip', data-placement='top', data-original-title='Pinterest')
    i.fa.fa-pinterest.pinterest
