.specialities.clearfix
  .row
    .col-md-3.col-sm-4.col-xs-6
      .speciality-item
        img(src='a.jpg', alt='one')
        h4 khhhh hhhhhhvhk
    .col-md-3.col-sm-4.col-xs-6
      .speciality-item
        img(src='a.jpg', alt='one')
        h4 khhhh hhhhhhvhk
    .col-md-3.col-sm-4.col-xs-6
      .speciality-item
        img(src='a.jpg', alt='one')
        h4 khhhh hhhhhhvhk
    .col-md-3.col-sm-4.col-xs-6
      .speciality-item
        img(src='a.jpg', alt='one')
        h4 khhhh hhhhhhvhk
