.specialities.clearfix
  .row
    .col-md-3.col-sm-6.col-xs-12
      .speciality-item
        i.fa.fa-lightbulb-o.one(aria-hidden='true')
        h4 Web & Graphic Design
    .col-md-3.col-sm-6.col-xs-12
      .speciality-item
        i.fa.fa-cogs.two(aria-hidden='true')
        h4 Front End Development
    .col-md-3.col-sm-6.col-xs-12
      .speciality-item
        i.fa.fa-code.three(aria-hidden='true')
        h4 Web Development
    .col-md-3.col-sm-6.col-xs-12
      .speciality-item
        i.fa.fa-rocket.four(aria-hidden='true')
        h4 Hosting & Support
