.section--specialities
  .__container
    .col1
      i.fa.fa-lightbulb-o(aria-hidden='true')
      h3 Web & Graphic Design
    .col2
      i.fa.fa-cogs(aria-hidden='true')
      h3 Front End Development
    .col3
      i.fa.fa-code(aria-hidden='true')
      h3 Website Development
    .col4
      i.fa.fa-rocket(aria-hidden='true')
      h3 Testing, Hosting & Support
