.bio-info
  position: relative
  padding: 35px 0px 25px
  margin: 20px 0px 40px
  background: #fff
  border: 1px solid #ddd
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.1), inset 0px 0px 15px rgba(0,0,0,0.1)
  @include breakpoint(max-width 800px)
    margin-left: 20px
    margin-right: 20px
  img
    width: 100%
    max-width: 200px
    float: left
    border-radius: 100%
    border: 1px solid #eee
    padding: 3px
    box-shadow: 2px 2px 0px 1px rgba(0,0,0,0.05)
    margin-left: 23px
    @include breakpoint(max-width 525px)
      float: none
      margin: 0 auto
  .bio-details
    margin-left: 240px
    @include breakpoint(max-width 525px)
      margin-left: 0px
    @include breakpoint(max-width 357px)
      margin-left: 0px
      text-align: center
    .col-mob
      //@include breakpoint(max-width 767px)
        //width: 50%
      //@include breakpoint(max-width 357px)
    		//width: 100%
    .col-pad
    	padding-left: 0px
    	padding-right: 0px
    .txt-col
      columns: 2 200px
      column-gap: 4em
      column-rule: 1px dotted #ddd
    .bio-item
      padding: 7px 10px
      max-width: 90%
      margin: 0px auto 10px
      @include breakpoint(max-width 767px)
        text-align: center
  .bio-social
    position: absolute
    top: -15px
    right: 15px
    @include breakpoint(max-width 525px)
      text-align: center
      right: 0
      width: 100%
    a > i
      width: 33px
      height: 33px
      line-height: 33px
      color: #fff
      text-align: center
      margin-right: 2px
      border-radius: 50px
    .email
      background: #32c8de
      &:hover
        background: #32c8de
    .linkedin
      background: #729fda
      &:hover
        background: #3069b6
    .behance
      background: #0057ff
      &:hover
        background: #0057ff
    .facebook
      background: #3280e7
      &:hover
        background: #134fa0
    .pinterest
      background: #ed5441
      &:hover
        background: #b72411
    .github
      background: #666666
      &:hover
        background: #333333
