body
  background: $gray-lighter
  min-width: 320px
  margin: 0

.browsehappy
  margin: 0.2em 0
  padding: 0.2em 0
  color: $gray-base

.main
  @include full

.cta-style
  @include full
  float: none
  padding: 5px
  background-color: transparent
  background-repeat: no-repeat
  background-size: cover
  background-attachment: fixed
  @include breakpoint($bp-sm2)
    padding: 10px
  @include breakpoint($bp-sm3)
    padding: 20px
  @include breakpoint($bp-md)
    padding: 30px
  @include breakpoint($bp-md2)
    padding: 40px
  .container
    @include container
    padding: 20px
    border: 2px solid rgba(255,255,255,0.2)
    border-radius: 8px
    text-align: center
    background: rgba(0,0,0,0.1)
    position: relative
    @include breakpoint($bp-md)
      padding: 30px 20px
      max-width: 1000px
    h3
      margin-top: 10px
      color: $bg-white
    .btn
      background: $bg-orange
      border: 1px solid rgba(255,255,255,0.4)
      color: #000
      -webkit-transition: all 0.4s ease-out
      -moz-transition: all 0.4s ease-out
      -o-transition: all 0.4s ease-out
      -ms-transition: all 0.4s ease-out
      transition: all 0.4s ease-out
      &:hover
        background: $bg-borange
        color: $bg-white
