.contact-panel
  padding: 50px 0 20px
  position: fixed
  top: 50px
  left: 0
  right: 0
  margin: 0 auto
  z-index: 2000
  display: none
  background-color: $bg-lblue2
  .contact-panel-close
    position: absolute
    top: 0
    right: 0
    display: inline-block
    +size(50, 50)
    text-align: center
    color: #fff
    +font-size(30)
  .container
    @include container()
  h3
    margin-top: 0
    margin-bottom: 20px
    color: #fff
    text-align: center
  .contact-form
    max-width: none
    width: 100%
    margin-bottom: 30px
    @include breakpoint($bp-sm3)
      @include span(6 of 12)
      padding: 10px
      max-width: 400px
      margin-bottom: 0
    input, textarea
      margin-bottom: 15px
      padding: 20px
      border: 0
      border-radius: 4px
      display: block
      width: 100%
      height: 34px
      +font-size(14)
      line-height: 1.42857
      color: #555555
      background-color: #fff
      background-image: none
      -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075)
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075)
      -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s
      -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s
      transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s
    textarea
      height: auto
    .button-group
      text-align: center
      @include breakpoint($bp-sm3)
        text-align: left
      .btn
        padding: 10px 20px
        border-radius: 4px
        background: #fff
        color: #888
        display: inline-block
        margin-bottom: 0
        font-weight: normal
        text-align: center
        vertical-align: middle
        touch-action: manipulation
        cursor: pointer
        background-image: none
        border: 1px solid transparent
        white-space: nowrap
        +font-size(14)
        line-height: 1.42857
        -webkit-user-select: none
        -moz-user-select: none
        -ms-user-select: none
        user-select: none
  .contact-details
    padding: 10px
    text-align: center
    @include breakpoint($bp-sm3)
      @include span(6 at 7 of 12)
    h4
      line-height: 44px
      font-weight: 300
      text-align: center
      a
        color: #fff
    .social-container
      display: inline-block
      margin-top: 10px
      padding: 5px
      background: rgba(255, 255, 255, 0.6)
      border-radius: 5px
      .social-icons
        a
          margin-right: 20px
        a:last-child
          margin-right: 0
      .email-link
          display: none
