//  = Colours
//  ---------------------------------------------------------------------------
$gray-base:             #000
$gray-darker:           lighten($gray-base, 13.5%) // #222
$gray-dark:             lighten($gray-base, 20%)   // #333
$gray:                  lighten($gray-base, 33.5%) // #555
$gray-light:            lighten($gray-base, 46.7%) // #777
$gray-lighter:          lighten($gray-base, 93.5%) // #eee

$brand-primary:         darken(#428bca, 6.5%) // #337ab7
$brand-success:         #5cb85c
$brand-info:            #5bc0de
$brand-warning:         #f0ad4e
$brand-danger:          #d9534f

$bg-white:              #ffffff
$bg-grey:               #eeeeee
$bg-black:              #555555
$bg-red:                #f75353
$bg-green:              #51d466
$bg-lblue:              #32c8de
$bg-blue:               #609cec
$bg-orange:             #f78153
$bg-yellow:             #fcd419
$bg-purple:             #cb79e6
$bg-pink:               #ff61e7
$bg-brown:              #d08166

$screen-xs-min:         480px
$screen-sm-min:         768px
$screen-md-min:         992px
$screen-lg-min:         1200px
$screen-xs-max:         ($screen-sm-min - 1) // 767px
$screen-sm-max:         ($screen-md-min - 1) // 991px
$screen-md-max:         ($screen-lg-min - 1) // 1199px

$grid-gutter-width:     30px

$container-sm:          (720px + $grid-gutter-width) // 750px
$container-md:          (940px + $grid-gutter-width) // 970px
$container-lg:          (1140px + $grid-gutter-width) // 1170px

$bp-sm: 24em
$bp-sm2: 29.75em
$bp-sm3: 39.8em
$bp-md: 46.8em
$bp-md2: 48em
$bp-lg: 50em
$bp-lg2: 54.5em
$bp-xl: 60em
$bp-xl2: 67em

.bg-white
  background-color: $bg-white
.bg-grey
  background-color: $bg-grey
.bg-black
  background-color: $bg-black
.bg-red
  background-color: $bg-red
.bg-green
  background-color: $bg-green
.bg-lblue
  background-color: $bg-lblue
.bg-blue
  background-color: $bg-blue
.bg-orange
  background-color: $bg-orange
.bg-yellow
  background-color: $bg-yellow
.bg-purple
  background-color: $bg-purple
.bg-pink
  background-color: $bg-pink
.bg-brown
  background-color: $bg-brown

$border-radius-base:       4px
$border-radius-large:      6px
$border-radius-small:      3px

$margins: (xs: 0.5rem, sm: 1rem, md: 1.5rem, lg: 2rem, xl: 2.5rem)
@each $name, $value in $margins
  .mtop-#{$name}
    margin-top: $value
  .mbot-#{$name}
    margin-bottom: $value

h1, h2, h3, h4
  font-family: 'Arial Narrow', Arial, Helvetica, sans-serif
  font-stretch: condensed
  font-weight: 400
  letter-spacing: 1px
  font-family: 'Teko', sans-serif


/* @include breakpoint-set('default media': screen) */
/* @include breakpoint-set('default feature': max-width) */
/* @include breakpoint-set('default pair': width) */
