$base-font-size: 10

//  = Colours
//  ---------------------------------------------------------------------------
$gray-base:             #000
$gray-darker:           lighten($gray-base, 13.5%) // #222
$gray-dark:             lighten($gray-base, 20%)   // #333
$gray:                  lighten($gray-base, 33.5%) // #555
$gray-light:            lighten($gray-base, 46.7%) // #777
$gray-lighter:          lighten($gray-base, 93.5%) // #eee

$bg-white:              #ffffff
$bg-grey:               #eeeeee
$bg-black:              #555555
$bg-lred:               #f75353
$bg-red:                #e91e1e
$bg-lgreen:             #51d466
$bg-green:              #4caf50
$bg-lblue:              #6ad3e3
$bg-lblue2:             #609cec
$bg-blue:               #2196f3
$bg-orange:             #ff9800
$bg-borange:            #ff5722
$bg-yellow:             #fcd419
$bg-purple:             #cb79e6
$bg-pink:               #ff61e7
$bg-brown:              #d08166

/* breakpoints */
$bp-mi: 23.5rem
$bp-mi2: 26.5rem
$bp-sm: 32rem
$bp-sm2: 37.5rem
$bp-sm3: 42.5rem
$bp-sm4: 55rem
$bp-md: 64rem
$bp-md2: 76.8rem
$bp-lg: 92rem
$bp-lg2: 102.4rem
$bp-xl: 120rem
$bp-xl2: 140rem

$section-bottom-margin: 50

$border: 1px solid $bg-grey

$border-radius-small:      3px
$border-radius-base:       4px
$border-radius-large:      6px

@font-face
  font-family: 'Teko'
  font-style: normal
  font-weight: 400
  src: url('../fonts/teko-v5-latin-regular.eot')
  src: local("Teko Regular"), local("Teko-Regular"), url('../fonts/teko-v5-latin-regular.eot?#iefix') format("embedded-opentype"), url('../fonts/teko-v5-latin-regular.woff2') format("woff2"), url('../fonts/teko-v5-latin-regular.woff') format("woff"), url('../fonts/teko-v5-latin-regular.ttf') format("truetype"), url('../fonts/teko-v5-latin-regular.svg#Teko') format("svg")

h1, h2, h3, h4
  font-family: 'Teko','Arial Narrow', Arial, Helvetica,sans-serif !important
  font-stretch: condensed
  font-weight: 400
  letter-spacing: 1px
