.footer
  @include full
  background-color: $bg-black
  color: $bg-white
  .container
    @include container
    text-align: center
    padding: 40px 0
    span
      display: block
      @include breakpoint($bp-sm)
        display: inline
