.main-navbar
  min-height: inherit
  background: #fff
  .navbar-toggle
    margin-top: 20px
  .icon-bar
    background: #2C3E50
  .navbar-brand
    height: auto

#mainTopLogo, #mainTopLogo .st3
  width: 150.739px
  height: 60px

@include breakpoint(768px)
  .navbar-right
    margin-top: 20px


#main-top-menu
  a
    font-size: 18px
    font-weight: bold
