.main-navbar
  min-height: inherit
  background: #fff
  .navbar-toggle
    margin: 0
    padding: 21px 15px
  .fa-bars
    font-size: 24px
    color: #2C3E50
  .navbar-brand
    padding: 23px 15px
    height: 70px
    font-weight: bold
    color: #2C3E50
  .top-text-logo
    position: relative
    .short-txt
      font-size: 40px

    .full-txt
      display: block
      width: 270px
      padding: 15px 0
      font-size: 20px
      font-variant: small-caps

    &:hover .short-txt, .full-txt
      position: absolute !important
      top: 7px !important
      left: -500px !important
      opacity: 0
      transition: opacity 0.5s linear

    &:hover .full-txt
      position: absolute !important
      top: 7px !important
      left: 15px !important
      opacity: 1


#main-top-menu
  a
    font-size: 18px
    font-weight: bold
    i
      color: #333
    span
      display: inline-block
      margin-left: 10px
    .fa-caret-down
      margin-left: 10px

.dropdown:hover .dropdown-menu
  display: block

.dropdown-menu > li > a
  padding: 15px

@include breakpoint(768px)
  .navbar-right
    margin-top: 10px
