.header
  position: fixed
  top: 0
  left: 0
  z-index: 10500
  @include full
  min-height: 60px
  background: $bg-white
  .container
    @include container()
    .top-txt-logo
      @include span(first 3)
      font-weight: bold
      color: #2C3E50
      position: relative
      .short-txt
        +font-size(40)
      .full-txt
        position: absolute !important
        top: 0 !important
        left: -500px !important
        opacity: 0
      &:hover .short-txt
        @include breakpoint($bp-sm3)
          position: absolute !important
          top: 0 !important
          left: -500px !important
          opacity: 0
      &:hover .full-txt
        @include breakpoint($bp-sm3)
          position: absolute !important
          top: 0 !important
          left: 0 !important
          opacity: 1
          display: block
          width: 270px
          padding: 16px 0
          +font-size(20)
          font-variant: small-caps
      @include breakpoint($bp-sm3)
        @include span(first 4)

    .nav-block
      @include span(last 9)
      text-align: right
      @include breakpoint($bp-sm3)
        @include span(last 8)

.nav-block ul
  list-style-type: none
  padding-left: 0
  margin-bottom: 0
  li
    display: inline-flex
    a
      padding: 17px 20px
      +font-size(18)
      font-weight: bold
      position: relative
      &:hover span
        @include breakpoint($bp-sm $bp-sm2)
          position: static
          display: inline-block
          margin-left: 10px
          opacity: 1
      i
        color: darken($bg-black, 20%)
        @include breakpoint($bp-sm2)
          color: lighten($bg-black, 30%)
      span
        position: absolute
        top: 0
        left: -9999px
        opacity: 0
        @include breakpoint($bp-sm2)
          position: static
          display: inline-block
          margin-left: 10px
          opacity: 1
      .fa-caret-down
        margin-left: 10px
    &:hover
      background-color: lighten($bg-black, 60%)
  li.has-sub-menu
    position: relative
    ul
      position: absolute !important
      top: 58px !important
      left: -9999px !important
      width: 280px
      opacity: 0
      text-align: center
      background: $bg-white
      @include breakpoint($bp-sm2)
        right: auto !important
      li
        display: block
      li > a
        display: block
        padding: 15px

    &:hover ul
      z-index: 99
      display: block
      opacity: 1
      left: -90px !important
      @include breakpoint($bp-sm2)
