.skills
  margin: 50px 0
.skills-item
  margin: 20px auto
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.1), inset 0px 0px 15px rgba(0,0,0,0.1)
  .skills-heading
    float: left
    @include breakpoint(max-width 500px)
      width: 100%
      float: none
      padding: 10px 20px
    h3
      transform: rotate(270deg)
      margin: 0
      font-size: 16px
      font-weight: 600
      text-transform: uppercase
      @include breakpoint(max-width 500px)
        transform: none
        text-align: left
      a
        color: #fff
        position: relative
        span
          position: absolute
          right: 17px
          top: 12px
          min-width: 200px
          text-align: right
          @include breakpoint(max-width 500px)
            position: static
  .skills-content
    margin-left: 42px
    padding: 10px 20px
    border: 1px solid #ddd
    border-left: 0
    background: #fff
    @include breakpoint(max-width 500px)
      width: 100%
      margin-left: 0
      border-top: 0
      border-left: 1px solid #ddd
    h2
      font-size: 22px
      line-height: 32px
      font-weight: 400
      padding-bottom: 10px
      margin-top: 0
      margin-bottom: 5px
      border-bottom: solid 1px #eee
    .skill-category-item
      width: 100%
      float: none
      margin: 10px auto 8px
      @include breakpoint(max-width 990px)
        width: 50%
        float: left
      @include breakpoint(max-width 650px)
        width: 100%
        float: none
      h4
        font-size: 15px
        line-height: 25px
        text-transform: uppercase
        &:before
          content: "\f105"
          font-family: "FontAwesome"
          display: inline-block
          width: 23px
          height: 23px
          line-height: 21px
          text-align: center
          border: 1px solid #32c8de
          border-radius: 100%
          margin-right: 5px
      .skill-progress
        margin: 15px 0
        padding: 0 5px
        h4
          font-size: 13px
          line-height: 26px
          text-transform: none
          &:before
            content: none
          span
            float: right
        .progress
          height: 5px
          margin-bottom: 8px
          box-shadow: none
