.specialities
  @include full
  padding: 20px 0
  background: rgba(50,200,222,0.7)
  @include breakpoint(max-width $screen-sm-max)
    padding: 10px 0
  @include breakpoint(max-width $screen-xs-max)
    padding: 10px 0
  .speciality-item
    padding: 15px 0
    margin: 10px auto
    max-width: 400px
    border: 2px solid #fff
    border-radius: 2px
    background: #fff
    box-shadow: inset 0px 0px 40px rgba(0,0,0,0.15), 0px 0px 40px rgba(0,0,0,0.15)
    text-align: center
    .fa
      font-size: 40px
    .one
      color: #ff5722
    .two
      color: #4caf50
    .three
      color: #2196f3
    .four
      color: #e91e1e
