#testimonial-carousel1
  position: relative
  .carousel-indicators
    position: absolute
    bottom: 0
    li
      border: 1px solid $gray-light
    .active
      background: $gray-light
  .no-margin
    margin: 0

  .carousel-control
    display: block
    padding: 3px 10px
    position: absolute
    top: 0
    bottom: 0
    margin: auto 0
    width: 40px
    height: 60px
    background-color: $bg-lblue
    opacity: 0.5
    &:hover, &:focus
      opacity: 1
    &.left, &.right
      background-image: none
    i
      font-size: 40px
      line-height: 50px
      color: $bg-white

  .item
    padding: 15px 40px 40px
    border-radius: 5px
    background: $bg-white

  .media-object
    margin: auto

  @include breakpoint(max-width $screen-xs-max)
    .media-object
      margin-bottom: 15px
