/* BEGIN: normalize css */
@import "<%= normalizeScssMain %>"
/* END: normalize css */
/* BEGIN: Config Sass */
@import "_settings/config"
/* END: Config Sass */
/* BEGIN: Mixins Sass */
@import "_settings/mixins"
/* END: Mixins Sass */
/* BEGIN: Typography Sass */
@import "_settings/typography"
/* END: Typography Sass */
/* BEGIN: Breakpoint Sass */
@import "<%= breakpointSassMain %>"
/* END: Breakpoint Sass */
/* BEGIN: Susy Sass */
@import "_settings/susy"
/* END: Susy Sass */
/* BEGIN: common Sass */
@import "_settings/common"
/* END: common Sass */
/* BEGIN: social-icons Sass */
@import "_sections/social-icons"
/* END: social-icons Sass */
/* BEGIN: contact Sass */
@import "_sections/contact"
/* END: contact Sass */
/* BEGIN: header Sass */
@import "_sections/header"
/* END: header Sass */
/* BEGIN: accordion-slider Sass */
@import "_sections/accordion-slider"
/* END: accordion-slider Sass */
/* BEGIN: cta-style Sass */
@import "_sections/cta-style"
/* END: cta-style Sass */
/* BEGIN: cta-top Sass */
@import "_sections/cta-top"
/* END: cta-top Sass */
/* BEGIN: bio Sass */
@import "_sections/bio"
/* END: bio Sass */
/* BEGIN: specialities Sass */
@import "_sections/specialities"
/* END: specialities Sass */
/* BEGIN: skills Sass */
@import "_sections/skills"
/* END: skills Sass */
/* BEGIN: Fancybox Sass */
$fancybox-image-url: "/vendor/fancybox/img/"
@import "<%= fancyboxScssMain %>"
/* END: Fancybox Sass */
/* BEGIN: portfolio Sass */
@import "_sections/portfolio"
/* END: portfolio Sass */
/* BEGIN: cta-bottom Sass */
@import "_sections/cta-bottom"
/* END: cta-bottom Sass */
/* BEGIN: Slick Carousel Sass */
@import "<%= slickScssMain %>"
$slick-font-path: "/vendor/slick-carousel/fonts/"
$slick-loader-path: "/vendor/slick-carousel/"
$slick-arrow-color: $bg-blue
@import "<%= slickThemeScss %>"
/* END: Slick Carousel Sass */
/* BEGIN: testimonials Sass */
@import "_sections/testimonials"
/* END: testimonials Sass */
/* BEGIN: footer-tech-panel Sass */
@import "_sections/footer-tech-panel"
/* END: footer-tech-panel Sass */
/* BEGIN: footer Sass */
@import "_sections/footer"
/* END: footer Sass */
/* BEGIN: Print Sass */
@import "_settings/print"
/* END: Print Sass */
