$icon-font-path: "/vendor/bootstrap/assets/fonts/bootstrap/"
@import "<%= bootstrapSassMain %>"
@import "<%= breakpointSassMain %>"
$fa-font-path: "/vendor/font-awesome/fonts/"
@import "<%= fontAwesomeSassMain %>"
@import "config"
@import "common"
@import "header"
@import "accordion-slider"
@import "cta-top"
@import "bio"
@import "specialities"
@import "skills"
@import "portfolio"
@import "cta-bottom"

//$Breakpoint-Settings:('default media': all,'default feature': max-width,'default pair': width)
// $Breakpoint-Settings:('default feature': max-width)

body
  background: $gray-lighter
  @include breakpoint(max-width 600px)
    margin: 0

.browsehappy
  margin: 0.2em 0
  padding: 0.2em 0
  color: $gray-base

.main
  margin-top: 51px
