@function toRem($size)
  $remSize: $size / $base-font-size
  @return $remSize * 1rem

// Font Size
=font-size($sizeValue: 14)
  font-size: $sizeValue * 1px
  font-size: toRem($sizeValue)

// transition
=transition($transition-property, $transition-time, $method)
  -webkit-transition: $transition-property $transition-time $method
  -moz-transition: $transition-property $transition-time $method
  transition: $transition-property $transition-time $method

// Size
=size($width, $height)
  width: $width * 1px
  height: $height * 1px

// margin left and right
=marlr($left, $right)
  margin-left: $left * 1px
  margin-left: toRem($left)
  margin-right: $right * 1px
  margin-right: toRem($right)

// margin-bottom
=botm($size)
  margin-bottom: $size * 1px
  margin-bottom: toRem($size)

// padding left and right
=padlr($left, $right)
  padding-left: $left * 1px
  padding-left: toRem($left)
  padding-right: $right * 1px
  padding-right: toRem($right)
