$base-font-size: 10
$font-family:  "Helvetica Neue", Helvetica, Arial, sans-serif
$header-font-family:  'Teko','Arial Narrow', Arial, Helvetica,sans-serif !important

h1
  +font-size(36)
h2
  +font-size(30)
h3
  +font-size(24)
h4
  +font-size(18)
h5
  +font-size(14)
h6
  +font-size(12)

@font-face
  font-family:  'Teko'
  font-style:   normal
  font-weight:  400
  src:          url('../fonts/teko-v5-latin-regular.eot')
  src:          local("Teko Regular"), local("Teko-Regular"), url('../fonts/teko-v5-latin-regular.eot?#iefix') format("embedded-opentype"), url('../fonts/teko-v5-latin-regular.woff2') format("woff2"), url('../fonts/teko-v5-latin-regular.woff') format("woff"), url('../fonts/teko-v5-latin-regular.ttf') format("truetype"), url('../fonts/teko-v5-latin-regular.svg#Teko') format("svg")

h1, h2, h3, h4
  font-family:  $header-font-family
  font-stretch: condensed
  font-weight:  400
  letter-spacing: 1px
