.section--main-slider
  .__container
    .accordion-slider
      .accordion__slide.slide1
        .accordion__inner
          p.title Front End Development
          p.details Creating cross-browser, cross-device compatible responsive websites with interactivity, animation, etc using HTML5, Pug, CSS3, Sass, jQuery. I use modern web development workflow like Npm, Bower, Gulp, Webpack, Express, Git/GitHub, etc.
      .accordion__slide.slide2
        .accordion__inner
          p.title UX / UI Development
          p.details Wireframing, UI development planning, Prototyping, User Experience/User Interface testing, analysis and iteration.
      .accordion__slide.slide3
        .accordion__inner
          p.title Web & Graphic Design
          p.details Using Adobe Creative Suite applications like Photoshop, Illustrator and InDesign.
      .accordion__slide.slide4
        .accordion__inner
          p.title Web Testing & SEO
          p.details Using Chrome Developer Tools, W3C Checks, UITest, GTMetrix, Pingdom, Webaim Wave, jshint, etc. Google Analytics, Google Webmaster Tools, MOZ, etc.
      .accordion__slide.slide5
        .accordion__inner
          p.title Hosting & Maintenance
          p.details Cpanel based Linux hosting / Complete setup through DigitalOcean / IIS. Optimize websites / Fasten/Boosting the website performance. Maintaining DNS, Email Setup, FTP accounts, etc.
      .accordion__slide.slide6
        .accordion__inner
          p.title Multimedia Production
          p.details Video editing & Multimedia presentations, web media using Adobe Premiere, etc.
