#about.section--bio-info
  .__container
    // BEGIN: Social Sub-Section
    include social-icons.pug
    // END: Social Sub-Section
    a(href='https://www.linkedin.com/in/shanthoshk', target='_blank')
      img(src='/app/images/ShanthoshK_profile3_400x400-min.jpg', width='200', height='200', itemprop='image', alt='Shanthosh Krishnakumar')
    .bio-details
      h1 I am a Front End Web Developer, Web & Graphic Designer
      .bio-item.item1
        .title Name
        p Shanthosh Krishnakumar
      hr.hr-style1
      .bio-item.item2
        .title Current Location
        p(itemprop='workLocation') Auckland, NZ
      hr.hr-style1
      .bio-item.item3
        .title Experience
        p 9 years in New Zealand
      hr.hr-style1
      .bio-item.item4
        .title VISA Type
        p NZ Citizen
      hr.hr-style1
    .txt-row
      p As a Web Designer or Front End Web Developer I have experience managing all stages of the web development life cycle including website concepts, wire-framing, design, development, testing, deployment and after-support.
      p As a Graphic Designer I would love to design clean, smart and effective visuals using Adobe Photoshop, Illustrator and InDesign. Most of my projects focus on effective colour and layout utilization.
