.section--cta-style.cta-top
  .__container
    .col1
      p View my works in portfolio section
    .col2
      a.web-gallery-btn.btn(href='#webGallery')
        span.fa.fa-down-hand(aria-hidden='true')
        |  Web Development
    .col3
      a.print-gallery-btn.btn(href='#printGallery')
        span.fa.fa-down-hand(aria-hidden='true')
        |  Graphic Design
