.section--cta-style.cta-bottom
  .__container
    .col1
      p Check my Curriculum Vitae document / Contact me now
    .col2
      a.btn.contact-btn
        span.fa.fa-up-hand(aria-hidden='true')
        |  Contact Now
    .col3
      button.btn.download-btn(aria-label='Download my CV in Word or PDF document')
        span.fa.fa-download(aria-hidden='true')
        |  Download my CV
      .download-files-container
        .col4
          a.download-item(href='/app/files/ShanthoshK_CV_FrontendWebDeveloper.doc', download="ShanthoshK_CV.doc", aria-label='Download my CV in Word document')
            span.fa.fa-file-word(aria-hidden='true')
            span.format-name doc
        .col5
          a.download-item(href='/app/files/ShanthoshK_CV_FrontendWebDeveloper.pdf', download="ShanthoshK_CV.pdf", aria-label='View / download my CV in PDF document')
            span.fa.fa-file-pdf(aria-hidden='true')
            span.format-name pdf
