.__container
  .extended
    p.beta-txt Still this website is in 'Beta' stage. I feel many things could be improved. Lot of checks needed. Check the
     a(href='https://github.com/nzkks/drmsweb', target='_blank') Github
     | link to see few prominent issues in the Issues tab.
    p I have used following web technologies to create this website.
    .tech-box.gallery
      .item HTML5
      .item CSS3
      .item JQuery
      .item Pug
      .item Sass
      .item Susy Grid
      .item Breakpoint-Sass
      .item Fancybox
      .item Slick Slider
      .item Font-Awesome
      .item Node
      .item Express
      .item Bower
      .item Gulp
      .item Webpack
      .item Github
      .item Bitbucket
    p Slider background images are from my own photographic library. I love taking photos with my SLR camera!
    hr.hr-style2
  .footer-box
    .copyright
      P &copy; #{new Date().getFullYear()} Shanthosh Krishnakumar.
        span  All rights reserved.
    .interaction
      button.btn.footer-tech-btn Technologies Used
