.print-gallery.gallery
  .item
    a.fancybox(data-fancybox-group='print-gallery', href='/app/images/portfolio/print/clickclack-strahl-brochure-cover-g-min.jpg', title='Click Clack Strahl - Brochure Cover Design')
      span.fa.fa-search(aria-hidden='true')
      span.mask
      img.lazy(src='/app/images/tiny.gif', data-src='/app/images/portfolio/print/clickclack-strahl-brochure-cover-g-t-min.jpg', alt='Click Clack - Brochure Cover Design')
      noscript
        img(src='/app/images/portfolio/print/clickclack-strahl-brochure-cover-g-t-min.jpg', alt='Click Clack - Brochure Cover Design')
  .item
    a.fancybox(data-fancybox-group='print-gallery', href='/app/images/portfolio/print/clickclack-strahl-brochure-1-g-min.jpg', title='Click Clack Strahl - Brochure Design page2-3')
      span.fa.fa-search(aria-hidden='true')
      span.mask
      img.lazy(src='/app/images/tiny.gif', data-src='/app/images/portfolio/print/clickclack-strahl-brochure-1-g-t-min.jpg', alt='Click Clack Strahl - Brochure Design page2-3')
      noscript
        img(src='/app/images/portfolio/print/clickclack-strahl-brochure-1-g-t-min.jpg', alt='Click Clack Strahl - Brochure Design page2-3')
  .item
    a.fancybox(data-fancybox-group='print-gallery', href='/app/images/portfolio/print/clickclack-strahl-brochure-2-g-min.jpg', title='Click Clack Strahl - Brochure Design page4-5')
      span.fa.fa-search(aria-hidden='true')
      span.mask
      img.lazy(src='/app/images/tiny.gif', data-src='/app/images/portfolio/print/clickclack-strahl-brochure-2-g-t-min.jpg', alt='Click Clack Strahl - Brochure Design page4-5')
      noscript
        img(src='/app/images/portfolio/print/clickclack-strahl-brochure-2-g-t-min.jpg', alt='Click Clack Strahl - Brochure Design page4-5')
  .item
    a.fancybox(data-fancybox-group='print-gallery', href='/app/images/portfolio/print/clickclack-storageware-brochure-1-g-min.jpg', title='Click Clack Storageware - Brochure Design page4-5')
      span.fa.fa-search(aria-hidden='true')
      span.mask
      img.lazy(src='/app/images/tiny.gif', data-src='/app/images/portfolio/print/clickclack-storageware-brochure-1-g-t-min.jpg', alt='Click Clack Storageware - Brochure Design page4-5')
      noscript
        img(src='/app/images/portfolio/print/clickclack-storageware-brochure-1-g-t-min.jpg', alt='Click Clack Storageware - Brochure Design page4-5')
  .item
    a.fancybox(data-fancybox-group='print-gallery', href='/app/images/portfolio/print/clickclack-storageware-brochure-2-g-min.jpg', title='Click Clack Storageware - Brochure Design page6-7')
      span.fa.fa-search(aria-hidden='true')
      span.mask
      img.lazy(src='/app/images/tiny.gif', data-src='/app/images/portfolio/print/clickclack-storageware-brochure-2-g-t-min.jpg', alt='Click Clack Storageware - Brochure Design page6-7')
      noscript
        img(src='/app/images/portfolio/print/clickclack-storageware-brochure-2-g-t-min.jpg', alt='Click Clack Storageware - Brochure Design page6-7')
  .item
    a.fancybox(data-fancybox-group='print-gallery', href='/app/images/portfolio/print/clickclack-strahl-us-ad-g-min.jpg', title='Click Clack Strahl - US Ad Design')
      span.fa.fa-search(aria-hidden='true')
      span.mask
      img.lazy(src='/app/images/tiny.gif', data-src='/app/images/portfolio/print/clickclack-strahl-us-ad-g-t-min.jpg', alt='Click Clack Strahl - US Ad Design')
      noscript
        img(src='/app/images/portfolio/print/clickclack-strahl-us-ad-g-t-min.jpg', alt='Click Clack Strahl - US Ad Design')
  .item
    a.fancybox(data-fancybox-group='print-gallery', href='/app/images/portfolio/print/clickclack-table-greetings-2008-g-min.jpg', title='Click Clack - Table Greetings 2008 Design')
      span.fa.fa-search(aria-hidden='true')
      span.mask
      img.lazy(src='/app/images/tiny.gif', data-src='/app/images/portfolio/print/clickclack-table-greetings-2008-g-t-min.jpg', alt='Click Clack - Table Greetings 2008 Design')
      noscript
        img(src='/app/images/portfolio/print/clickclack-table-greetings-2008-g-t-min.jpg', alt='Click Clack - Table Greetings 2008 Design')
  .item
    a.fancybox(data-fancybox-group='print-gallery', href='/app/images/portfolio/print/clickclack-strahl-cocktailshaker-insert-1-g-min.jpg', title='Click Clack Strahl Cocktail Shaker - Insert Design 1')
      span.fa.fa-search(aria-hidden='true')
      span.mask
      img.lazy(src='/app/images/tiny.gif', data-src='/app/images/portfolio/print/clickclack-strahl-cocktailshaker-insert-1-g-t-min.jpg', alt='Click Clack Strahl Cocktail Shaker - Insert Design 1')
      noscript
        img(src='/app/images/portfolio/print/clickclack-strahl-cocktailshaker-insert-1-g-t-min.jpg', alt='Click Clack Strahl Cocktail Shaker - Insert Design 1')
  .item
    a.fancybox(data-fancybox-group='print-gallery', href='/app/images/portfolio/print/clickclack-strahl-cocktailshaker-insert-2-g-min.jpg', title='Click Clack Strahl Cocktail Shaker - Insert Design 2')
      span.fa.fa-search(aria-hidden='true')
      span.mask
      img.lazy(src='/app/images/tiny.gif', data-src='/app/images/portfolio/print/clickclack-strahl-cocktailshaker-insert-2-g-t-min.jpg', alt='Click Clack Strahl Cocktail Shaker - Insert Design 2')
      noscript
        img(src='/app/images/portfolio/print/clickclack-strahl-cocktailshaker-insert-2-g-t-min.jpg', alt='Click Clack Strahl Cocktail Shaker - Insert Design 2')
  .item
    a.fancybox(data-fancybox-group='print-gallery', href='/app/images/portfolio/print/muthtamilsangam-sportsday2017-poster-g-min.jpg', title='Muthtamil Sangam Sports Day 2017 - Event poster Design')
      span.fa.fa-search(aria-hidden='true')
      span.mask
      img.lazy(src='/app/images/tiny.gif', data-src='/app/images/portfolio/print/muthtamilsangam-sportsday2017-poster-g-t-min.jpg', alt='Muthtamil Sangam Sports Day 2017 - Event poster Design')
      noscript
        img(src='/app/images/portfolio/print/muthtamilsangam-sportsday2017-poster-g-t-min.jpg', alt='Muthtamil Sangam Sports Day 2017 - Event poster Design')
  .item
    a.fancybox(data-fancybox-group='print-gallery', href='/app/images/portfolio/print/muthtamilsangam-pongal-2017-poster-g-min.jpg', title='Muthtamil Sangam Pongal 2017 - Event poster Design')
      span.fa.fa-search(aria-hidden='true')
      span.mask
      img.lazy(src='/app/images/tiny.gif', data-src='/app/images/portfolio/print/muthtamilsangam-pongal-2017-poster-g-t-min.jpg', alt='Muthtamil Sangam Pongal 2017 - Event poster Design')
      noscript
        img(src='/app/images/portfolio/print/muthtamilsangam-pongal-2017-poster-g-t-min.jpg', alt='Muthtamil Sangam Pongal 2017 - Event poster Design')
  .item
    a.fancybox(data-fancybox-group='print-gallery', href='/app/images/portfolio/print/happynztours-catalogue2015-frontcover-g-min.jpg', title='Happy Tours NZ - Catalogue Cover Design')
      span.fa.fa-search(aria-hidden='true')
      span.mask
      img.lazy(src='/app/images/tiny.gif', data-src='/app/images/portfolio/print/happynztours-catalogue2015-frontcover-g-t-min.jpg', alt='Happy Tours NZ - Catalogue Cover Design')
      noscript
        img(src='/app/images/portfolio/print/happynztours-catalogue2015-frontcover-g-t-min.jpg', alt='Happy Tours NZ - Catalogue Cover Design')
  .item
    a.fancybox(data-fancybox-group='print-gallery', href='/app/images/portfolio/print/muthtamilsangam-kodaivizha2016-ad-g-min.jpg', title='Muthtamil Sangam Kodai Vizha 2016 - Ad Design')
      span.fa.fa-search(aria-hidden='true')
      span.mask
      img.lazy(src='/app/images/tiny.gif', data-src='/app/images/portfolio/print/muthtamilsangam-kodaivizha2016-ad-g-t-min.jpg', alt='Muthtamil Sangam Kodai Vizha 2016 - Ad Design')
      noscript
        img(src='/app/images/portfolio/print/muthtamilsangam-kodaivizha2016-ad-g-t-min.jpg', alt='Muthtamil Sangam Kodai Vizha 2016 - Ad Design')
  .item
    a.fancybox(data-fancybox-group='print-gallery', href='/app/images/portfolio/print/muthtamilsangam-kodaivizha2016-ticket-g-min.jpg', title='Muthtamil Sangam Kodai Vizha 2016 - Event Ticket Design')
      span.fa.fa-search(aria-hidden='true')
      span.mask
      img.lazy(src='/app/images/tiny.gif', data-src='/app/images/portfolio/print/muthtamilsangam-kodaivizha2016-ticket-g-t-min.jpg', alt='Muthtamil Sangam Kodai Vizha 2016 - Event Ticket Design')
      noscript
        img(src='/app/images/portfolio/print/muthtamilsangam-kodaivizha2016-ticket-g-t-min.jpg', alt='Muthtamil Sangam Kodai Vizha 2016 - Event Ticket Design')
  .item
    a.fancybox(data-fancybox-group='print-gallery', href='/app/images/portfolio/print/muthtamilsangam-15thyear-ticket-g-min.jpg', title='Muthtamil Sangam 15th year - Event Ticket Design')
      span.fa.fa-search(aria-hidden='true')
      span.mask
      img.lazy(src='/app/images/tiny.gif', data-src='/app/images/portfolio/print/muthtamilsangam-15thyear-ticket-g-t-min.jpg', alt='Muthtamil Sangam 15th year - Event Ticket Design')
      noscript
        img(src='/app/images/portfolio/print/muthtamilsangam-15thyear-ticket-g-t-min.jpg', alt='Muthtamil Sangam 15th year - Event Ticket Design')
  .item
    a.fancybox(data-fancybox-group='print-gallery', href='/app/images/portfolio/print/muthtamilsangam-15thyear-poster-g-min.jpg', title='Muthtamil Sangam 15th year - Poster Design')
      span.fa.fa-search(aria-hidden='true')
      span.mask
      img.lazy(src='/app/images/tiny.gif', data-src='/app/images/portfolio/print/muthtamilsangam-15thyear-poster-g-t-min.jpg', alt='Muthtamil Sangam 15th year - Poster Design')
      noscript
        img(src='/app/images/portfolio/print/muthtamilsangam-15thyear-poster-g-t-min.jpg', alt='Muthtamil Sangam 15th year - Poster Design')
  .item
    a.fancybox(data-fancybox-group='print-gallery', href='/app/images/portfolio/print/muthtamilsangam-10thyear-souvenir-frontcover-g-min.jpg', title='Muthtamil Sangam 10th year - Souvenir Cover Design')
      span.fa.fa-search(aria-hidden='true')
      span.mask
      img.lazy(src='/app/images/tiny.gif', data-src='/app/images/portfolio/print/muthtamilsangam-10thyear-souvenir-frontcover-g-t-min.jpg', alt='Muthtamil Sangam 10th year - Souvenir Cover Design')
      noscript
        img(src='/app/images/portfolio/print/muthtamilsangam-10thyear-souvenir-frontcover-g-t-min.jpg', alt='Muthtamil Sangam 10th year - Souvenir Cover Design')
  .item
    a.fancybox(data-fancybox-group='print-gallery', href='/app/images/portfolio/print/singingviolin-poster-g-min.jpg', title='Singing Violin - Event Poster Design')
      span.fa.fa-search(aria-hidden='true')
      span.mask
      img.lazy(src='/app/images/tiny.gif', data-src='/app/images/portfolio/print/singingviolin-poster-g-t-min.jpg', alt='Singing Violin - Event Poster Design')
      noscript
        img(src='/app/images/portfolio/print/singingviolin-poster-g-t-min.jpg', alt='Singing Violin - Event Poster Design')
  .item
    a.fancybox(data-fancybox-group='print-gallery', href='/app/images/portfolio/print/bhartiyasamaj-indday2014-souvenir-coverpage-g-min.jpg', title='Bhartiya Samaj Independance Day - Souvenir Cover Design')
      span.fa.fa-search(aria-hidden='true')
      span.mask
      img.lazy(src='/app/images/tiny.gif', data-src='/app/images/portfolio/print/bhartiyasamaj-indday2014-souvenir-coverpage-g-t-min.jpg', alt='Bhartiya Samaj Independance Day - Souvenir Cover Design')
      noscript
        img(src='/app/images/portfolio/print/bhartiyasamaj-indday2014-souvenir-coverpage-g-t-min.jpg', alt='Bhartiya Samaj Independance Day - Souvenir Cover Design')
  .item
    a.fancybox(data-fancybox-group='print-gallery', href='/app/images/portfolio/print/happynztours-cricketworldcup2015-poster-g-min.jpg', title='Happy NZ Tours Cricket - Event Poster Design')
      span.fa.fa-search(aria-hidden='true')
      span.mask
      img.lazy(src='/app/images/tiny.gif', data-src='/app/images/portfolio/print/happynztours-cricketworldcup2015-poster-g-t-min.jpg', alt='Happy NZ Tours Cricket - Event Poster Design')
      noscript
        img(src='/app/images/portfolio/print/happynztours-cricketworldcup2015-poster-g-t-min.jpg', alt='Happy NZ Tours Cricket - Event Poster Design')
  .item
    a.fancybox(data-fancybox-group='print-gallery', href='/app/images/portfolio/print/muthtamilsangam-10thyear-poster-g-min.jpg', title='Muthtamil Sangam 10th year - Event Poster Design')
      span.fa.fa-search(aria-hidden='true')
      span.mask
      img.lazy(src='/app/images/tiny.gif', data-src='/app/images/portfolio/print/muthtamilsangam-10thyear-poster-g-t-min.jpg', alt='Muthtamil Sangam 10th year - Event Poster Design')
      noscript
        img(src='/app/images/portfolio/print/muthtamilsangam-10thyear-poster-g-t-min.jpg', alt='Muthtamil Sangam 10th year - Event Poster Design')
  .item
    a.fancybox(data-fancybox-group='print-gallery', href='/app/images/portfolio/print/sk-logo-g-min.jpg', title='My own name - Logo Design')
      span.fa.fa-search(aria-hidden='true')
      span.mask
      img.lazy(src='/app/images/tiny.gif', data-src='/app/images/portfolio/print/sk-logo-g-t-min.jpg', alt='My own name - Logo Design')
      noscript
        img(src='/app/images/portfolio/print/sk-logo-g-t-min.jpg', alt='My own name - Logo Design')
  .item
    a.fancybox(data-fancybox-group='print-gallery', href='/app/images/portfolio/print/skycirrus-logo-g-min.jpg', title='Skycirrus - Logo Design')
      span.fa.fa-search(aria-hidden='true')
      span.mask
      img.lazy(src='/app/images/tiny.gif', data-src='/app/images/portfolio/print/skycirrus-logo-g-t-min.jpg', alt='Skycirrus - Logo Design')
      noscript
        img(src='/app/images/portfolio/print/skycirrus-logo-g-t-min.jpg', alt='Skycirrus - Logo Design')
  .item
    a.fancybox(data-fancybox-group='print-gallery', href='/app/images/portfolio/print/ywd-logo-g-min.jpg', title='Your Website Designers website - Logo Design')
      span.fa.fa-search(aria-hidden='true')
      span.mask
      img.lazy(src='/app/images/tiny.gif', data-src='/app/images/portfolio/print/ywd-logo-g-t-min.jpg', alt='Your Website Designers website - Logo Design')
      noscript
        img(src='/app/images/portfolio/print/ywd-logo-g-t-min.jpg', alt='Your Website Designers website - Logo Design')
  .item
    a.fancybox(data-fancybox-group='print-gallery', href='/app/images/portfolio/print/whowillwewill-logo-g-min.jpg', title='Who Will We Will Business - Logo Design')
      span.fa.fa-search(aria-hidden='true')
      span.mask
      img.lazy(src='/app/images/tiny.gif', data-src='/app/images/portfolio/print/whowillwewill-logo-g-t-min.jpg', alt='Who Will We Will Business - Logo Design')
      noscript
        img(src='/app/images/portfolio/print/whowillwewill-logo-g-t-min.jpg', alt='Who Will We Will Business - Logo Design')
  .item
    a.fancybox(data-fancybox-group='print-gallery', href='/app/images/portfolio/print/vdesignz-logo-g-min.jpg', title='Vdesignz website - Logo Design')
      span.fa.fa-search(aria-hidden='true')
      span.mask
      img.lazy(src='/app/images/tiny.gif', data-src='/app/images/portfolio/print/vdesignz-logo-g-t-min.jpg', alt='Vdesignz website - Logo Design')
      noscript
        img(src='/app/images/portfolio/print/vdesignz-logo-g-t-min.jpg', alt='Vdesignz website - Logo Design')
  .item
    a.fancybox(data-fancybox-group='print-gallery', href='/app/images/portfolio/print/nutrilife-nz-logo-g-min.jpg', title='Nutrilife Business - Logo Design')
      span.fa.fa-search(aria-hidden='true')
      span.mask
      img.lazy(src='/app/images/tiny.gif', data-src='/app/images/portfolio/print/nutrilife-nz-logo-g-t-min.jpg', alt='Nutrilife Business - Logo Design')
      noscript
        img(src='/app/images/portfolio/print/nutrilife-nz-logo-g-t-min.jpg', alt='Nutrilife Business - Logo Design')
  .item
    a.fancybox(data-fancybox-group='print-gallery', href='/app/images/portfolio/print/espices-cookstminimart-g-min.jpg', title='eSpices Cook Street Mini Mart - Logo Design')
      span.fa.fa-search(aria-hidden='true')
      span.mask
      img.lazy(src='/app/images/tiny.gif', data-src='/app/images/portfolio/print/espices-cookstminimart-g-t-min.jpg', alt='eSpices Cook Street Mini Mart - Logo Design')
      noscript
        img(src='/app/images/portfolio/print/espices-cookstminimart-g-t-min.jpg', alt='eSpices Cook Street Mini Mart - Logo Design')
  .item
    a.fancybox(data-fancybox-group='print-gallery', href='/app/images/portfolio/print/bhartiyasamaj-indday2011-souvenir-poster-g-min.jpg', title='Muthtamil Sangam 10th year - Souvenir Cover Design')
      span.fa.fa-search(aria-hidden='true')
      span.mask
      img.lazy(src='/app/images/tiny.gif', data-src='/app/images/portfolio/print/bhartiyasamaj-indday2011-souvenir-poster-g-t-min.jpg', alt='Muthtamil Sangam 10th year - Souvenir Cover Design')
      noscript
        img(src='/app/images/portfolio/print/bhartiyasamaj-indday2011-souvenir-poster-g-t-min.jpg', alt='Muthtamil Sangam 10th year - Souvenir Cover Design')
  .item
    a.fancybox(data-fancybox-group='print-gallery', href='/app/images/portfolio/print/gremit-moneytransfer-form-g-min.jpg', title='Global Remittance - Remittance Form Design')
      span.fa.fa-search(aria-hidden='true')
      span.mask
      img.lazy(src='/app/images/tiny.gif', data-src='/app/images/portfolio/print/gremit-moneytransfer-form-g-t-min.jpg', alt='Global Remittance - Remittance Form Design')
      noscript
        img(src='/app/images/portfolio/print/gremit-moneytransfer-form-g-t-min.jpg', alt='Global Remittance - Remittance Form Design')
  .item
    a.fancybox(data-fancybox-group='print-gallery', href='/app/images/portfolio/print/muthtamilsangam-pongal2015-poster-g-min.jpg', title='Muthtamil Sangam Pongal - Event Poster')
      span.fa.fa-search(aria-hidden='true')
      span.mask
      img.lazy(src='/app/images/tiny.gif', data-src='/app/images/portfolio/print/muthtamilsangam-pongal2015-poster-g-t-min.jpg', alt='Muthtamil Sangam Pongal - Event Poster Design')
      noscript
        img(src='/app/images/portfolio/print/muthtamilsangam-pongal2015-poster-g-t-min.jpg', alt='Muthtamil Sangam Pongal - Event Poster Design')
  .item
    a.fancybox(data-fancybox-group='print-gallery', href='/app/images/portfolio/print/mahayanafilms-pamplet-g-min.jpg', title='Mahayana Films - Pamplet Design')
      span.fa.fa-search(aria-hidden='true')
      span.mask
      img.lazy(src='/app/images/tiny.gif', data-src='/app/images/portfolio/print/mahayanafilms-pamplet-g-t-min.jpg', alt='Mahayana Films - Pamplet Design')
      noscript
        img(src='/app/images/portfolio/print/mahayanafilms-pamplet-g-t-min.jpg', alt='Mahayana Films - Pamplet Design')
  .item
    a.fancybox(data-fancybox-group='print-gallery', href='/app/images/portfolio/print/temple-ugadi2012-poster-g-min.jpg', title='Temple Ugadi - Event Poster Design')
      span.fa.fa-search(aria-hidden='true')
      span.mask
      img.lazy(src='/app/images/tiny.gif', data-src='/app/images/portfolio/print/temple-ugadi2012-poster-g-t-min.jpg', alt='Temple Ugadi - Event Poster Design')
      noscript
        img(src='/app/images/portfolio/print/temple-ugadi2012-poster-g-t-min.jpg', alt='Temple Ugadi - Event Poster Design')
  .item
    a.fancybox(data-fancybox-group='print-gallery', href='/app/images/portfolio/print/clickclack-newsletter-2007-g-min.jpg', title='Click Clack - Newsletter Design - December 2007')
      span.fa.fa-search(aria-hidden='true')
      span.mask
      img.lazy(src='/app/images/tiny.gif', data-src='/app/images/portfolio/print/clickclack-newsletter-2007-g-t-min.jpg', alt='Click Clack - Newsletter Design - December 2007')
      noscript
        img(src='/app/images/portfolio/print/clickclack-newsletter-2007-g-t-min.jpg', alt='Click Clack - Newsletter Design - December 2007')
