.web-gallery.gallery
  .item
    a.fancybox(data-fancybox-group='web-gallery', href='/app/images/portfolio/web/fashionbiz-w-min.jpg', title='Fashion Biz')
      span.fa.fa-search(aria-hidden='true')
      span.mask
      img.lazy(src='/app/images/tiny.gif', data-src='/app/images/portfolio/web/fashionbiz-w-t-min.jpg', alt='Fashion Biz')
      noscript
        img(src='/app/images/portfolio/web/fashionbiz-w-t-min.jpg', alt='Fashion Biz')
  .item
    a.fancybox(data-fancybox-group='web-gallery', href='/app/images/portfolio/web/crossfireedi-w-min.jpg', title='Crossfire EDI')
      span.fa.fa-search(aria-hidden='true')
      span.mask
      img.lazy(src='/app/images/tiny.gif', data-src='/app/images/portfolio/web/crossfireedi-w-t-min.jpg', alt='Crossfire EDI')
      noscript
        img(src='/app/images/portfolio/web/crossfireedi-w-t-min.jpg', alt='Crossfire EDI')
  .item
    a.fancybox(data-fancybox-group='web-gallery', href='/app/images/portfolio/web/xsysit-w-min.jpg', title='XSYS IT')
      span.fa.fa-search(aria-hidden='true')
      span.mask
      img.lazy(src='/app/images/tiny.gif', data-src='/app/images/portfolio/web/xsysit-w-t-min.jpg', alt='XSYS IT')
      noscript
        img(src='/app/images/portfolio/web/xsysit-w-t-min.jpg', alt='XSYS IT')
  .item
    a.fancybox(data-fancybox-group='web-gallery', href='/app/images/portfolio/web/healthythings-w-min.jpg', title='Healthy Things')
      span.fa.fa-search(aria-hidden='true')
      span.mask
      img.lazy(src='/app/images/tiny.gif', data-src='/app/images/portfolio/web/healthythings-w-t-min.jpg', alt='Healthy Things')
      noscript
        img(src='/app/images/portfolio/web/healthythings-w-t-min.jpg', alt='Healthy Things')
  .item
    a.fancybox(data-fancybox-group='web-gallery', href='/app/images/portfolio/web/nagsun-w-min.jpg', title='Nagsun Appadata-fancybox-groups')
      span.fa.fa-search(aria-hidden='true')
      span.mask
      img.lazy(src='/app/images/tiny.gif', data-src='/app/images/portfolio/web/nagsun-w-t-min.jpg', alt='Nagsun Appadata-fancybox-groups')
      noscript
        img(src='/app/images/portfolio/web/nagsun-w-t-min.jpg', alt='Nagsun Appadata-fancybox-groups')
  .item
    a.fancybox(data-fancybox-group='web-gallery', href='/app/images/portfolio/web/muthtamilsangam-w-min.jpg', title='Muthtamil Sangam')
      span.fa.fa-search(aria-hidden='true')
      span.mask
      img.lazy(src='/app/images/tiny.gif', data-src='/app/images/portfolio/web/muthtamilsangam-w-t-min.jpg', alt='Muthtamil Sangam')
      noscript
        img(src='/app/images/portfolio/web/muthtamilsangam-w-t-min.jpg', alt='Muthtamil Sangam')
  .item
    a.fancybox(data-fancybox-group='web-gallery', href='/app/images/portfolio/web/fortistravel-w-min.jpg', title='Fortis Travels')
      span.fa.fa-search(aria-hidden='true')
      span.mask
      img.lazy(src='/app/images/tiny.gif', data-src='/app/images/portfolio/web/fortistravel-w-t-min.jpg', alt='Fortis Travels')
      noscript
        img(src='/app/images/portfolio/web/fortistravel-w-t-min.jpg', alt='Fortis Travels')
  .item
    a.fancybox(data-fancybox-group='web-gallery', href='/app/images/portfolio/web/mercuryprintz-w-min.jpg', title='Mercury Printz')
      span.fa.fa-search(aria-hidden='true')
      span.mask
      img.lazy(src='/app/images/tiny.gif', data-src='/app/images/portfolio/web/mercuryprintz-w-t-min.jpg', alt='Mercury Printz')
      noscript
        img(src='/app/images/portfolio/web/mercuryprintz-w-t-min.jpg', alt='Mercury Printz')
  .item
    a.fancybox(data-fancybox-group='web-gallery', href='/app/images/portfolio/web/wymondley-w-min.jpg', title='Wymondley School')
      span.fa.fa-search(aria-hidden='true')
      span.mask
      img.lazy(src='/app/images/tiny.gif', data-src='/app/images/portfolio/web/wymondley-w-t-min.jpg', alt='Wymondley School')
      noscript
        img(src='/app/images/portfolio/web/wymondley-w-t-min.jpg', alt='Wymondley School')
  .item
    a.fancybox(data-fancybox-group='web-gallery', href='/app/images/portfolio/web/exposefraud-w-min.jpg', title='Expose Fraud')
      span.fa.fa-search(aria-hidden='true')
      span.mask
      img.lazy(src='/app/images/tiny.gif', data-src='/app/images/portfolio/web/exposefraud-w-t-min.jpg', alt='Expose Fraud')
      noscript
        img(src='/app/images/portfolio/web/exposefraud-w-t-min.jpg', alt='Expose Fraud')
  .item
    a.fancybox(data-fancybox-group='web-gallery', href='/app/images/portfolio/web/sandfield-dba-services-w-min.jpg', title='Sandfield DBA Services')
      span.fa.fa-search(aria-hidden='true')
      span.mask
      img.lazy(src='/app/images/tiny.gif', data-src='/app/images/portfolio/web/sandfield-dba-services-w-t-min.jpg', alt='Sandfield DBA Services')
      noscript
        img(src='/app/images/portfolio/web/sandfield-dba-services-w-t-min.jpg', alt='Sandfield DBA Services')
  .item
    a.fancybox(data-fancybox-group='web-gallery', href='/app/images/portfolio/web/urbanswarm-w-min.jpg', title='Urbanswarm')
      span.fa.fa-search(aria-hidden='true')
      span.mask
      img.lazy(src='/app/images/tiny.gif', data-src='/app/images/portfolio/web/urbanswarm-w-t-min.jpg', alt='Urbanswarm')
      noscript
        img(src='/app/images/portfolio/web/urbanswarm-w-t-min.jpg', alt='Urbanswarm')
  .item
    a.fancybox(data-fancybox-group='web-gallery', href='/app/images/portfolio/web/clickclack-w-min.jpg', title='Click Clack')
      span.fa.fa-search(aria-hidden='true')
      span.mask
      img.lazy(src='/app/images/tiny.gif', data-src='/app/images/portfolio/web/clickclack-w-t-min.jpg', alt='Click Clack')
      noscript
        img(src='/app/images/portfolio/web/clickclack-w-t-min.jpg', alt='Click Clack')
  .item
    a.fancybox(data-fancybox-group='web-gallery', href='/app/images/portfolio/web/clickclack-storageware-w-min.jpg', title='Click Clack Storageware')
      span.fa.fa-search(aria-hidden='true')
      span.mask
      img.lazy(src='/app/images/tiny.gif', data-src='/app/images/portfolio/web/clickclack-storageware-w-t-min.jpg', alt='Click Clack Storageware')
      noscript
        img(src='/app/images/portfolio/web/clickclack-storageware-w-t-min.jpg', alt='Click Clack Storageware')
  .item
    a.fancybox(data-fancybox-group='web-gallery', href='/app/images/portfolio/web/skycirrus-w-min.jpg', title='Skycirrus')
      span.fa.fa-search(aria-hidden='true')
      span.mask
      img.lazy(src='/app/images/tiny.gif', data-src='/app/images/portfolio/web/skycirrus-w-t-min.jpg', alt='Skycirrus')
      noscript
        img(src='/app/images/portfolio/web/skycirrus-w-t-min.jpg', alt='Skycirrus')
  .item
    a.fancybox(data-fancybox-group='web-gallery', href='/app/images/portfolio/web/junatours-w-min.jpg', title='Juna Tours')
      span.fa.fa-search(aria-hidden='true')
      span.mask
      img.lazy(src='/app/images/tiny.gif', data-src='/app/images/portfolio/web/junatours-w-t-min.jpg', alt='Juna Tours')
      noscript
        img(src='/app/images/portfolio/web/junatours-w-t-min.jpg', alt='Juna Tours')
  .item
    a.fancybox(data-fancybox-group='web-gallery', href='/app/images/portfolio/web/aalayam-w-min.jpg', title='Aalayam')
      span.fa.fa-search(aria-hidden='true')
      span.mask
      img.lazy(src='/app/images/tiny.gif', data-src='/app/images/portfolio/web/aalayam-w-t-min.jpg', alt='Aalayam')
      noscript
        img(src='/app/images/portfolio/web/aalayam-w-t-min.jpg', alt='Aalayam')
  .item
    a.fancybox(data-fancybox-group='web-gallery', href='/app/images/portfolio/web/aiai-w-min.jpg', title='Auckland Indian Association Inc')
      span.fa.fa-search(aria-hidden='true')
      span.mask
      img.lazy(src='/app/images/tiny.gif', data-src='/app/images/portfolio/web/aiai-w-t-min.jpg', alt='Auckland Indian Association Inc')
      noscript
        img(src='/app/images/portfolio/web/aiai-w-t-min.jpg', alt='Auckland Indian Association Inc')
  .item
    a.fancybox(data-fancybox-group='web-gallery', href='/app/images/portfolio/web/mynewtablet-w-min.jpg', title='My New Tablet')
      span.fa.fa-search(aria-hidden='true')
      span.mask
      img.lazy(src='/app/images/tiny.gif', data-src='/app/images/portfolio/web/mynewtablet-w-t-min.jpg', alt='My New Tablet')
      noscript
        img(src='/app/images/portfolio/web/mynewtablet-w-t-min.jpg', alt='My New Tablet')
  .item
    a.fancybox(data-fancybox-group='web-gallery', href='/app/images/portfolio/web/mslconsulting-w-min.jpg', title='MSL Consulting')
      span.fa.fa-search(aria-hidden='true')
      span.mask
      img.lazy(src='/app/images/tiny.gif', data-src='/app/images/portfolio/web/mslconsulting-w-t-min.jpg', alt='MSL Consulting')
      noscript
        img(src='/app/images/portfolio/web/mslconsulting-w-t-min.jpg', alt='MSL Consulting')
  .item
    a.fancybox(data-fancybox-group='web-gallery', href='/app/images/portfolio/web/globalremittance-w-min.jpg', title='Global Remittance')
      span.fa.fa-search(aria-hidden='true')
      span.mask
      img.lazy(src='/app/images/tiny.gif', data-src='/app/images/portfolio/web/globalremittance-w-t-min.jpg', alt='Global Remittance')
      noscript
        img(src='/app/images/portfolio/web/globalremittance-w-t-min.jpg', alt='Global Remittance')
  .item
    a.fancybox(data-fancybox-group='web-gallery', href='/app/images/portfolio/web/currymunchers-w-min.jpg', title='Curry Munchers')
      span.fa.fa-search(aria-hidden='true')
      span.mask
      img.lazy(src='/app/images/tiny.gif', data-src='/app/images/portfolio/web/currymunchers-w-t-min.jpg', alt='Curry Munchers')
      noscript
        img(src='/app/images/portfolio/web/currymunchers-w-t-min.jpg', alt='Curry Munchers')
  .item
    a.fancybox(data-fancybox-group='web-gallery', href='/app/images/portfolio/web/cureforbusinesscancer-w-min.jpg', title='Cure for Business Cancer')
      span.fa.fa-search(aria-hidden='true')
      span.mask
      img.lazy(src='/app/images/tiny.gif', data-src='/app/images/portfolio/web/cureforbusinesscancer-w-t-min.jpg', alt='Cure for Business Cancer')
      noscript
        img(src='/app/images/portfolio/web/cureforbusinesscancer-w-t-min.jpg', alt='Cure for Business Cancer')
  .item
    a.fancybox(data-fancybox-group='web-gallery', href='/app/images/portfolio/web/vdesignz-w-min.jpg', title='VDesignz')
      span.fa.fa-search(aria-hidden='true')
      span.mask
      img.lazy(src='/app/images/tiny.gif', data-src='/app/images/portfolio/web/vdesignz-w-t-min.jpg', alt='VDesignz')
      noscript
        img(src='/app/images/portfolio/web/vdesignz-w-t-min.jpg', alt='VDesignz')
  .item
    a.fancybox(data-fancybox-group='web-gallery', href='/app/images/portfolio/web/neuromagnetics-w-min.jpg', title='Neuro Magnetics')
      span.fa.fa-search(aria-hidden='true')
      span.mask
      img.lazy(src='/app/images/tiny.gif', data-src='/app/images/portfolio/web/neuromagnetics-w-t-min.jpg', alt='Neuro Magnetics')
      noscript
        img(src='/app/images/portfolio/web/neuromagnetics-w-t-min.jpg', alt='Neuro Magnetics')
  .item
    a.fancybox(data-fancybox-group='web-gallery', href='/app/images/portfolio/web/ywd-w-min.jpg', title='Your website Design')
      span.fa.fa-search(aria-hidden='true')
      span.mask
      img.lazy(src='/app/images/tiny.gif', data-src='/app/images/portfolio/web/ywd-w-t-min.jpg', alt='Your website Design')
      noscript
        img(src='/app/images/portfolio/web/ywd-w-t-min.jpg', alt='Your website Design')
