h3 Testing, Hosting & Support
ul.skills-accordion
  li
    h4
      a(href='#') Web Testing Tools
    .skill-category-content
      .skill-progress
        p Chrome Dev Tools, jshint, W3C, Webaim Wave, UITest.com, GTMetrix, Pingdom, etc.
  li
    h4
      a(href='#') Web Analysis Tools
    .skill-category-content
      .skill-progress
        p Google Analytics, AdWords, Webmaster Tools, MOZ
  li
    h4
      a(href='#') Version Control
    .skill-category-content
      .skill-progress
        p Git, GitHub, GitLab, Bitbucket
  li
    h4
      a(href='#') Hosting & Support
    .skill-category-content
      .skill-progress
        p Ubuntu / any Unix flavour, WHM, cPanel, DigitalOcean, IIS, etc.
