h3 Web & Graphic Design
ul.skills-accordion
  li
    h4
      a(href='#') Design Tools
    .skill-category-content
      .skill-progress
        p Adobe Photoshop, Adobe Illustrator, Adobe InDesign
  li
    h4
      a(href='#') Multimedia Tools
    .skill-category-content
      .skill-progress
        p Adobe Premiere, Adobe Audition
