h3 Front End & Web Development
ul.skills-accordion
  li
    h4
      a(href='#') Primary Web Languages
    .skill-category-content
      .skill-progress
        p HTML 5, CSS 3, SASS/SCSS, JavaScript, jQuery
  li
    h4
      a(href='#') JavaScript Frameworks & Tools
    .skill-category-content
      .skill-progress
        p Angular, React, Express, Bower, Webpack, Gulp, Pug
  li
    h4
      a(href='#') Front End Frameworks
    .skill-category-content
      .skill-progress
        p Bootstrap, Foundation, Bourbon/Neat/Refills, GSAP (web animation), Jekyll
  li
    h4
      a(href='#') Server-side Technologies
    .skill-category-content
      .skill-progress
        p PHP, Node
  li
    h4
      a(href='#') Databases & Data Languages
    .skill-category-content
      .skill-progress
        p MySql, MongoDB, MS SQL Server, SQL, XML, JSON
  li
    h4
      a(href='#') Content Management Systems
    .skill-category-content
      .skill-progress
        p WordPress, Joomla
