h3 Web & Graphic Design
ul.skills-accordion
  li
    a(href='#')
      h4 Design Tools
    .skill-category-content
      .skill-progress
        p Adobe Photoshop, Adobe Illustrator, Adobe InDesign
  li
    a(href='#')
      h4 Multimedia Tools
    .skill-category-content
      .skill-progress
        p Adobe Premiere, Adobe Audition
