h3 Front End & Web Development
ul.skills-accordion
  li
    h4
      a(href='#') Web Languages
    .skill-category-content
      .skill-progress
        p HTML5, CSS3, SASS / SCSS, JavaScript, Pug (Jade)
  li
    h4
      a(href='#') JavaScript Tools
    .skill-category-content
      .skill-progress
        p Angular 1.x, jQuery, Node js, Gulp, Bower / NPM, Express, GSAP (web animation)
  li
    h4
      a(href='#') Front End Frameworks
    .skill-category-content
      .skill-progress
        p Bootstrap, Zurb Foundation, Bourbon / Neat / Refills, Jekyll
  li
    h4
      a(href='#') Databases & Data Languages
    .skill-category-content
      .skill-progress
        p MS SQL Server, MySQL, MongoDB, SQL, XML, JSON
  li
    h4
      a(href='#') Content Management System
    .skill-category-content
      .skill-progress
        p WordPress, Joomla
