.social-icons
  a.linkedin(href='https://www.linkedin.com/in/shanthoshk', target='_blank' title='LinkedIn' aria-label='Check Shanthosh LinkedIn webpage')
    span.fa.fa-linkedin(aria-hidden='true')
  a.github(href='https://github.com/nzkks/', target='_blank' title='Github' aria-label='Check Shanthosh Github page to see his projects including this website')
    span.fa.fa-github-circled(aria-hidden='true')
  a.email(href='mailto:kkshanthosh@gmail.com', target='_blank' title='Email' aria-label='Email Shanthosh')
    span.fa.fa-mail-alt(aria-hidden='true')
  a.behance(href='https://www.behance.net/shanthoshk', target='_blank' title='Behance' aria-label='Check Shanthosh portfolio in Behance webpage')
    span.fa.fa-behance(aria-hidden='true')
  a.pinterest(href='https://nz.pinterest.com/kkshanthosh/', target='_blank' title='Pinterest' aria-label='Check Shanthosh portfolio in Pinterest webpage')
    span.fa.fa-pinterest-circled(aria-hidden='true')
  a.facebook(href='https://www.facebook.com/shanthoshk.page', target='_blank' title='Facebook' aria-label='Check Shanthosh portfolio in Facebook page')
    span.fa.fa-facebook(aria-hidden='true')
