.section--specialities
  .__container
    .col1
      span.fa.fa-lightbulb(aria-hidden='true')
      h2 Web & Graphic Design
    .col2
      span.fa.fa-cog-alt(aria-hidden='true')
      h2 Front End Development
    .col3
      span.fa.fa-code(aria-hidden='true')
      h2 Website Development
    .col4
      span.fa.fa-rocket(aria-hidden='true')
      h2 Testing, Hosting & Support
