.section--testimonials
  .__container
    a.linkedin-txt(href='https://www.linkedin.com/in/shanthoshk', target='_blank')
      span Source
      br
      span.fa.fa-linkedin-square(aria-hidden='true')
    .items-block
      .item
        figure
          img.lazy(src='/app/images/tiny.gif', data-src='/app/images/testimonials/claireconza-200x200px-min.jpg', alt='Claire Conza')
          noscript
            img(src='/app/images/testimonials/claireconza-200x200px-min.jpg', alt='Claire Conza')
          figcaption
            p Shanthosh led a team of 8 IT professionals at an ImpactNPO event that my organisation Make Give Live was involved in. I was so impressed at his dedication, organisation, skills, experience, and people management skills.
              |  He was great problem solving and developing the front end particularly in relation to garment e-commerce functionality and presentation. I would highly recommend him to be a leader in a team. He really went above and beyond and I am very grateful.
            blockquote
              p
                span.fa.fa-user-circle-o(aria-hidden='true')
                |  Claire Conza
              small
                cite(title='_') Director/strategist/project manager Future Village
      .item
        figure
          img.lazy(src='/app/images/tiny.gif', data-src='/app/images/testimonials/manpreetsingh-200x200px-min.jpg', alt='Manpreet Singh')
          noscript
            img(src='/app/images/testimonials/manpreetsingh-200x200px-min.jpg', alt='Manpreet Singh')
          figcaption
            p I had a opportunity to work with Shanthosh and found him very detailed and result oriented. Shanthosh is very innovative and always looking for new solutions and fresh ideas that can advance his knowledge to exceed his client's expectations and goals. We worked together on Zoop's smart tech web application up and running, all done in-house. He helped us to integrate simpro api and design new application. Shanthosh would be an asset to any team. He is highly recommended person. I wish him good luck.
            blockquote
              p
                span.fa.fa-user-circle-o(aria-hidden='true')
                |  Manpreet Singh
              small
                cite(title='_') Web Developer at Zoop IT Solutions Limited
      .item
        figure
          img.lazy(src='/app/images/tiny.gif', data-src='/app/images/testimonials/matthewluxon-200x200px-min.jpg', alt='Matthew Luxon')
          noscript
            img(src='/app/images/testimonials/matthewluxon-200x200px-min.jpg', alt='Matthew Luxon')
          figcaption
            p Shanthosh led a team of IT professionals in designing and building three websites for a charitable foundation I am involved in.
              |  Despite a very tight time schedule and a large number of people being involved, Shanthosh stayed calm and focused on what needed to be done at all times. The results are fantastic and have propelled our organisation, and our initiatives, forward light years from where we were.
              |  In particular I was impressed with how concerned Shanthosh was that the final result was relevant and able to be used by members of our organisation and I would have no hesitation in recommending him for your project.
            blockquote
              p
                span.fa.fa-user-circle-o(aria-hidden='true')
                |  Matthew Luxon
              small
                cite(title='_') Director / Manager at Envision NZ
      .item
        figure
          img.lazy(src='/app/images/tiny.gif', data-src='/app/images/testimonials/shajikalidasan-200x200px-min.jpg', alt='Shaji Kalidasan')
          noscript
            img(src='/app/images/testimonials/shajikalidasan-200x200px-min.jpg', alt='Shaji Kalidasan')
          figcaption
            p Shanthosh is a great and a good human being and his professional work is of high quality and by itself is a masterpiece.
              |  He is my mentor especially for Joomla and PHP related developments. Thank you Shanthosh, where ever you are.
            blockquote
              p
                span.fa.fa-user-circle-o(aria-hidden='true')
                |  Shaji Kalidasan
              small
                cite(title='_') Principal Technical Consultant at Sennovate Inc
      .item
        figure
          img.lazy(src='/app/images/tiny.gif', data-src='/app/images/testimonials/justincunningham-200x200px-min.jpg', alt='Justin Cunningham')
          noscript
            img(src='/app/images/testimonials/justincunningham-200x200px-min.jpg', alt='Justin Cunningham')
          figcaption
            p Shanthosh is a legend. Design - he can do it. Code -he can do it. Apps -he can find them. Whatever you need Shan can supply. An amazing resource in one man.
            blockquote
              p
                span.fa.fa-user-circle-o(aria-hidden='true')
                |  Justin Cunningham
              small
                cite(title='_') I help business owners fix their broken marketing
      .item
        figure
          img.lazy(src='/app/images/tiny.gif', data-src='/app/images/testimonials/grantshields-200x200px-min.jpg', alt='Grant Shields')
          noscript
            img(src='/app/images/testimonials/grantshields-200x200px-min.jpg', alt='Grant Shields')
          figcaption
            p To anyone looking for a truly dedicated individual with an extremely thorough knowledge of web design and web development then please don't go any further than Shanthosh. His talents in graphic design, web development, web coding and all round online creative ability is amazing. I have only ever met one person that is talented in all facets of web development and in so many different web languages and it is Shanthosh.
              |  I would employ Shanthosh again in a heart beat. Highly recommended.
            blockquote
              p
                span.fa.fa-user-circle-o(aria-hidden='true')
                |  Grant Shields
              small
                cite(title='_') Training Specialist at SalesStar.com
      .item
        figure
          img.lazy(src='/app/images/tiny.gif', data-src='/app/images/testimonials/vasekfiala-200x200px-min.jpg', alt='Vaclav (Vasek) Fiala')
          noscript
            img(src='/app/images/testimonials/vasekfiala-200x200px-min.jpg', alt='Vaclav (Vasek) Fiala')
          figcaption
            p Shanthosh is a very dedicated guy with great knowledge of anything web related. We worked together on getting a new company's website up and running, all done in-house. It was a challenging ASP.Net + SQL server project. He was fully commited to resolving all the inevitable issues along the way. We also worked together on putting together brochures, catalogues and ads. We had lots of fun doing all the product shots as professionally as possible despite limited resources. Shanthosh was always very helpful making any changes and updates in the marketing literature a.s.a.p. He also constantly kept up-to-date with all the technology.
            blockquote
              p
                span.fa.fa-user-circle-o(aria-hidden='true')
                |  Vaclav (Vasek) Fiala
              small
                cite(title='_') Brand Manager at Talus Industries NZ Limited
      .item
        figure
          img.lazy(src='/app/images/tiny.gif', data-src='/app/images/testimonials/srinivasanjaganathan-200x200px-min.jpg', alt='Srinivasan Jaganathan')
          noscript
            img(src='/app/images/testimonials/srinivasanjaganathan-200x200px-min.jpg', alt='Srinivasan Jaganathan')
          figcaption
            p Shantosh is extremely multi talented and have in depth knowledge in web development. Very kind, friendly always with a grin and I have enjoyed working with you.
            blockquote
              p
                span.fa.fa-user-circle-o(aria-hidden='true')
                |  Srinivasan Jaganathan
              small
                cite(title='_') Business Analyst at Fonterra Co-Operative Group Ltd
      .item
        figure
          img.lazy(src='/app/images/tiny.gif', data-src='/app/images/testimonials/rajeshkumarthygarajan-200x200px-min.jpg', alt='Rajesh Kumar Thiyagarajan')
          noscript
            img(src='/app/images/testimonials/rajeshkumarthygarajan-200x200px-min.jpg', alt='Rajesh Kumar Thiyagarajan')
          figcaption
            p Shanthosh is an excellent and professional Web and Graphic designer. He has an excellent attitude and always thinks out of the box. He is a master in his skill area and knows in-depth knowledge. It was a real pleasure working with him and having him in the team.
            blockquote
              p
                span.fa.fa-user-circle-o(aria-hidden='true')
                |  Rajesh Kumar Thiyagarajan
              small
                cite(title='_') Senior Infrastructure Specialist at NZ Transport Agency
