$max-width:     1170px

//  = Colours
//  ---------------------------------------------------------------------------
$gray-base:     #000
$gray-darker:   lighten($gray-base, 13.5%) // #222
$gray-dark:     lighten($gray-base, 20%)   // #333
$gray:          lighten($gray-base, 33.5%) // #555
$gray-light:    lighten($gray-base, 46.7%) // #777
$gray-lighter:  lighten($gray-base, 93.5%) // #eee

$bg-dblue:   #2C3E50
$bg-owhite:   #ECF0F1
$bg-lblue:      #3498DB
$bg-blue:       #2980B9
$bg-borange:    #E74C3C

$bg-white:      #ffffff
$bg-grey:       #eeeeee
$bg-black:      #555555
$bg-lred:       #f75353
$bg-red:        #e91e1e
$bg-lgreen:     #51d466
$bg-green:      #4caf50
$bg-lblue2:     #609cec
$bg-orange:     #ff9800
$bg-yellow:     #fcd419
$bg-purple:     #cb79e6
$bg-pink:       #ff61e7
$bg-brown:      #d08166

/* breakpoints */
/* 320px */
$bp-sm:         20rem
/* 375px */
$bp-sm2:        23.4375rem
/* 425px */
$bp-sm3:        26.5625rem
/* 480px */
$bp-sm4:        30rem
/*$bp-md:         37.5rem*/
/* 680px */
$bp-sm5:        42.5rem

/* 768px */
$bp-md:         48rem
/*$bp-md2:        56rem*/

/* 1024px */
$bp-lg:         64rem
/* 1170px */
$bp-max:        73.125rem
/* 1440px */
$bp-xl:         90rem
/*$bp-xl2:        105rem*/

/* 1920px */
$bp-fhd:        120rem
/*$bp-xl4:        140rem*/
/* 4K - 2560px */
$bp-4k:         160rem

$border:        1px solid $bg-grey

// border-radius
$radius-sm:   2px
$radius-md:   4px
$radius-lg:   6px
$radius-xl:   8px
