extends layout
block vars
  - var pageTitle = '404 - Not Found';
  - var pageDescription = 'Freelance creative front end web developer and graphic designer with 9+ years of professional experience.';
  - var pageKeywords = 'front-end developer, front end developer, web designer, graphic designer, auckland';

block content
  h1=title
    span :(
      p Sorry, but the page you were trying to view does not exist.
      p It looks like this was the result of either:
      ul
        li a mistyped address
        li an out-of-date link
