extends layout
block vars
  - var pageTitle = 'The Server Encountered an Error';
  - var pageDescription = 'Freelance creative front end web developer and graphic designer with 9+ years of professional experience.';
  - var pageKeywords = 'front-end developer, front end developer, web designer, graphic designer, auckland';

block content
  h1 The Server Encountered an Error
    span :(
      p Sorry!
