extends layout
block vars
  - var pageTitle = '';
  - var pageDescription = 'This is a description';

block content
  .container
    include _includes/_bio.pug
    include _includes/_specialities.pug
