extends layout
block vars
  - var pageTitle = '';
  - var pageDescription = 'I am a freelance creative front end web developer and graphic designer with 5+ years of professional experience. #html5 #css3 #js';
  - var pageKeywords = 'front-end developer, front end developer, web designer, graphic designer, auckland';

block content
  // BEGIN: accordion-slider
  include _includes/_accordion-slider.pug
  // END: accordion-slider
  // BEGIN: Top Call-To-Action section
  include _includes/_cta-top.pug
  // END: Top Call-To-Action section
  // BEGIN: Bio Section
  include _includes/_bio.pug
  // END: Bio Section
  // BEGIN: Specialities Section
  include _includes/_specialities.pug
  // END: Specialities Section
  // BEGIN: Skills Section
  include _includes/_skills.pug
  // END: Skills Section
  hr.hr-style1
  // BEGIN: Portfolio Section
  include _includes/_portfolio.pug
  // END: Portfolio Section
  // BEGIN: Bottom Call-To-Action section
  include _includes/_cta-bottom.pug
  // END: Bottom Call-To-Action section
  // BEGIN: Testimonials Section
  include _includes/_testimonials.pug
  // END: Testimonials Section
