extends layout
block vars
  - var pageTitle = '';
  - var pageDescription = 'I am a freelance creative front end web developer and graphic designer with 5+ years of professional experience. #html5 #css3 #js';
  - var pageKeywords = 'front-end developer, front end developer, web designer, graphic designer, auckland';

block content
  include _includes/_accordion-slider.pug
  include _includes/_cta-top.pug
  include _includes/_bio.pug
  include _includes/_specialities.pug
  include _includes/_skills.pug
  include _includes/_portfolio.pug
  include _includes/_cta-bottom.pug
  include _includes/_testimonials.pug
