extends layout
block vars
  - var pageTitle = '';
  - var pageDescription = 'Freelance creative front end web developer and graphic designer with 9+ years of professional experience.';
  - var pageKeywords = 'front-end developer, front end developer, web designer, graphic designer, auckland';

block content
  // BEGIN: accordion-slider
  include includes/accordion-slider.pug
  // END: accordion-slider
  // BEGIN: Top Call-To-Action section
  include includes/cta-top.pug
  // END: Top Call-To-Action section
  // BEGIN: Bio Section
  include includes/bio.pug
  // END: Bio Section
  // BEGIN: Specialities Section
  include includes/specialities.pug
  // END: Specialities Section
  // BEGIN: Skills Section
  include includes/skills.pug
  // END: Skills Section
  // BEGIN: Portfolio Section
  include includes/portfolio.pug
  // END: Portfolio Section
  // BEGIN: Bottom Call-To-Action section
  include includes/cta-bottom.pug
  // END: Bottom Call-To-Action section
  // BEGIN: Testimonials Section
  include includes/testimonials.pug
  // END: Testimonials Section
