extends layout
block vars
  - var pageTitle = '';
  - var pageDescription = 'This is a description';

block content
  include _includes/_cta-top.pug
  include _includes/_bio.pug
  include _includes/_specialities.pug
  include _includes/_skills.pug
  include _includes/_portfolio.pug
