doctype html
html
  block vars
  head
    include _includes/_head.pug
  body
    include _includes/_browse-happy.pug
    header.header.clearfix
      include _includes/_header.pug
      +top-menu('home')

    main.main.clearfix
      include _includes/_accordion-slider.pug
      block content

    footer.clearfix
      include _includes/_footer.pug
    include _includes/_foot-scripts.pug
