doctype html
html(itemscope itemtype='http://schema.org/Person')
  block vars
  head
    include _includes/_head.pug
  body#top
    include _includes/_browse-happy.pug
    // BEGIN: Header Section
    header.header
      include _includes/_header.pug
      +top-menu('about')
    // END: Header Section
    // BEGIN: Main Section
    main.main
      block content
    // END: Main Section
    // BEGIN: Contact Panel
    include _includes/_contact.pug
    // END: Contact Panel
    // BEGIN: Footer Section
    footer.footer
      include _includes/_footer.pug
    // END: Footer Section
    // BEGIN: Footer Scripts
    include _includes/_foot-scripts.pug
    // END: Footer Scripts
    span.to-top
      a(href='#top')
        i.fa.fa-angle-up
