doctype html
html
  block vars
  head
    include _includes/_head.pug
  body
    include _includes/_browse-happy.pug
    header
      block headerContent

    footer
      include _includes/_footer.pug
    include _includes/_foot-scripts.pug
