doctype html
html(lang='en', itemscope, itemtype='http://schema.org/Person')
  block vars
  head(prefix='og: http://ogp.me/ns#')
    include includes/head.pug
  body#top
    include includes/browse-happy.pug
    // BEGIN: Header Section
    header.header
      include includes/header.pug
    // END: Header Section
    // BEGIN: Main Section
    main.main
      block content
    // END: Main Section
    // BEGIN: Contact Panel
    include includes/contact.pug
    // END: Contact Panel
    // BEGIN: Footer Section
    footer.footer
      include includes/footer.pug
    // END: Footer Section
    // BEGIN: Footer Scripts
    include includes/foot-scripts.pug
    // END: Footer Scripts
    a.to-top(href='#top', aria-label='Click to go to top of the webpage')
      span.fa.fa-angle-up(aria-hidden='true')
      span.to-top-txt To Top
